html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #393E42;
  color: #ffffff; }

div,
p,
h1,
h2,
h3,
h4,
section,
article,
aside,
ul,
menu,
fieldset {
  margin: 0;
  padding: 0; }

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  color: #fff; }
  a:hover {
    color: #93b640; }
  a:active {
    color: #b6b240; }

.wrapper {
  width: 400px;
  margin: 0 auto; }
  @media (min-width: 780px) {
    .wrapper {
      width: 770px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

.no-link {
  color: #fff; }
  .no-link:hover, .no-link:active {
    color: inherit; }

.page-content {
  padding: 30px 0;
  min-height: -webkit-calc(100vh - 220px - 40px);
  min-height: calc(100vh - 220px - 40px); }
  @media (min-width: 780px) {
    .page-content {
      padding: 50px 10px; } }
  @media (min-width: 1200px) {
    .page-content {
      padding: 50px 30px; } }

.feature {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 780px) {
    .feature {
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 1200px) {
    .feature {
      font-size: 18px;
      line-height: 26px; } }

.feature__title {
  margin-bottom: 15px; }

.feature__quote {
  background-color: #818b93;
  padding: 5px 5px 5px 25px;
  border-left: 5px solid yellow; }
  @media (min-width: 1200px) {
    .feature__quote {
      width: 70%; } }

.gallery {
  margin-bottom: 20px; }

.gallery__header {
  margin-bottom: 30px; }
  @media (min-width: 780px) {
    .gallery__header {
      margin-bottom: 50px; } }

.gallery__title {
  text-align: center; }

.gallery__lists {
  list-style-type: none;
  font-size: 0; }

.gallery__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%; }
  .gallery__item img {
    width: 100%; }
  @media (min-width: 780px) {
    .gallery__item {
      margin-right: 55px;
      margin-bottom: 25px;
      width: 220px; }
      .gallery__item:nth-child(3n) {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .gallery__item {
      width: 30%;
      margin-right: 5%; } }

.gallery__link {
  display: block; }

.gallery__open-icon {
  fill: #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .gallery__open-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .gallery__open-icon:active {
    fill: #d3d3d3; }

.gallery__shadowbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .gallery__shadowbox:hover {
    -webkit-box-shadow: inset 0 0 0 200px rgba(36, 36, 36, 0.7);
            box-shadow: inset 0 0 0 200px rgba(36, 36, 36, 0.7);
    cursor: pointer;
    display: block; }
    .gallery__shadowbox:hover .gallery__open {
      display: block; }

.gallery__open {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.hexagon {
  position: relative;
  margin: 0 0 50px 50px;
  width: 150px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 173px;
  background-image: url("../img/pink-preview.jpg"); }
  .hexagon:hover {
    cursor: pointer; }

.hexagon__left,
.hexagon__right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  overflow: hidden; }

.hexagon__left {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.hexagon__right {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

.hexagon__left:before {
  -webkit-transform: rotate(-60deg) translate(-87px, 0);
      -ms-transform: rotate(-60deg) translate(-87px, 0);
          transform: rotate(-60deg) translate(-87px, 0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0; }

.hexagon__left:before,
.hexagon__right:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  z-index: 2;
  background: inherit;
  background-repeat: no-repeat; }

.hexagon__right:before {
  -webkit-transform: rotate(60deg) translate(-48px, -11px);
      -ms-transform: rotate(60deg) translate(-48px, -11px);
          transform: rotate(60deg) translate(-48px, -11px); }

.trained__title {
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center; }
  @media (min-width: 780px) {
    .trained__title {
      font-size: 20px; } }

.trained__desc {
  padding: 15px 30px; }
  .trained__desc p {
    font-size: 16px;
    line-height: 28px;
    text-align: left; }
    @media (min-width: 780px) {
      .trained__desc p {
        font-size: 18px;
        line-height: 28px; } }
    @media (min-width: 1200px) {
      .trained__desc p {
        font-size: 20px;
        line-height: 28px; } }

.trained__link {
  color: #ffffff; }
  .trained__link:hover {
    color: #93b640; }
  .trained__link:active {
    color: #b6b240; }
  .trained__link.main-nav__link--active {
    color: #b69e40; }

.trained__part.trained__part--1 {
  margin-bottom: 50px; }

.trained__part.trained__part--2 {
  margin-bottom: 50px; }
  .trained__part.trained__part--2 p {
    margin-bottom: 25px; }

.trained__lists {
  list-style-type: none;
  padding-top: 30px; }
  @media (min-width: 780px) {
    .trained__lists {
      padding-top: 50px; } }

.trained__item {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .trained__item p {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .trained__item .trained__skill-lists {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  @media (min-width: 780px) {
    .trained__item {
      display: block; } }
  .trained__item .trained__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 200px;
    max-height: 300px;
    margin-bottom: 30px; }
    @media (min-width: 780px) {
      .trained__item .trained__link {
        width: 35%;
        max-height: initial;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .trained__item .trained__link {
        width: auto; } }
    .trained__item .trained__link:hover {
      -webkit-box-shadow: 0 0 5px 5px #d3d3d3;
              box-shadow: 0 0 5px 5px #d3d3d3; }

.trained__lists-title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px; }

.trained__skill-lists {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  list-style-type: none;
  padding-left: 30px; }
  .trained__skill-lists.trained__skill-lists--bad {
    margin-bottom: 50px; }
  @media (min-width: 780px) {
    .trained__skill-lists {
      margin-left: 30px;
      padding-left: 0;
      width: 60%; } }
  @media (min-width: 1200px) {
    .trained__skill-lists {
      margin-left: 50px;
      width: auto; } }

.trained__skill-item {
  padding: 15px 0; }
  .trained__skill-item:first-child {
    padding-top: 0; }
  @media (min-width: 780px) {
    .trained__skill-item {
      padding: 15px 20px; } }

.page-footer {
  background-color: #343536;
  padding: 20px 0;
  min-height: 40px;
  line-height: 40px; }

.contacts {
  text-align: center; }

.contacts__link {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/icon/spriteIcon.png");
  text-indent: -9999px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 7px 2px #d4d4d4;
          box-shadow: 0 0 7px 2px #d4d4d4;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease; }
  .contacts__link.contacts__link--vk {
    background-position: -35px;
    margin-right: 10px; }
  .contacts__link:hover {
    -webkit-box-shadow: 0 0 15px 2px #d4d4d4;
            box-shadow: 0 0 15px 2px #d4d4d4; }

.invisibly {
  display: none; }

.gallery-template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery-template__shadow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .gallery-template__shadow-box--close {
    display: none;
    overflow: auto; }

.gallery-template__content {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid red;
  width: 800px;
  min-height: 300px;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7); }

.gallery-template__img,
.gallery-template__desc {
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gallery-template__img {
  width: 45%;
  min-height: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/pink-preview.jpg"); }

.gallery-template__desc {
  width: 52%;
  padding: 20px 15px; }
  .gallery-template__desc p {
    margin-bottom: 15px; }
  .gallery-template__desc .cell1,
  .gallery-template__desc .cell2 {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 47%; }
  .gallery-template__desc .cell1 {
    color: red; }
  .gallery-template__desc .cell2 {
    margin-left: 15px; }

.gallery-template__img:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); }

.gallery-template__close {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer; }
  .gallery-template__close:after, .gallery-template__close:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%; }
  .gallery-template__close:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .gallery-template__close:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .gallery-template__close:hover {
    background-color: #d3d3d3; }
    .gallery-template__close:hover:after, .gallery-template__close:hover:before {
      background-color: #000; }
