html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 16px/18px 'Raleway', sans-serif;
  background-color: #393E42;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    html,
    body {
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 1200px) {
    html,
    body {
      font-size: 18px;
      line-height: 26px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 100vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      html .page-content,
      body .page-content {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto; } }

div,
p,
h1,
h2,
h3,
h4,
section,
article,
aside,
ul,
menu,
fieldset {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  color: #00AFF0;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #008abd; }
  @media (min-width: 768px) {
    a.contacts__link {
      border-bottom: 1px solid rgba(0, 175, 240, 0.65); } }

.wrapper {
  width: 300px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px;
      padding: 0 20px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

.no-link {
  color: #ffffff; }
  .no-link:hover, .no-link:active {
    color: inherit; }

.page-content {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .page-content {
      padding: 50px 0; } }
  @media (min-width: 1200px) {
    .page-content {
      padding: 50px 0 0 0; } }

.feature {
  margin-bottom: 20px; }

.feature__header,
.feature__text {
  margin-bottom: 20px; }

.feature__header-title {
  margin-bottom: 5px; }

.gallery {
  margin-bottom: 20px; }

.gallery__header {
  margin-bottom: 30px; }

.gallery__title {
  text-align: center; }
  @media (min-width: 768px) {
    .gallery__title {
      text-align: left; } }

.gallery__caption__text {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .gallery__caption__text {
      text-indent: 0; } }

.gallery__lists {
  margin-bottom: 30px;
  list-style-type: none;
  font-size: 0; }
  @media (min-width: 768px) {
    .gallery__lists {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.gallery__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #ffffff; }
  .gallery__item:last-child {
    margin-bottom: 0; }
  .gallery__item img {
    width: 100%; }
  @media (min-width: 768px) {
    .gallery__item {
      margin-right: 3%;
      margin-bottom: 3%;
      width: 45%;
      background-color: #ffffff; }
      .gallery__item:nth-child(3n) {
        margin-right: 0; }
      .gallery__item:last-child {
        margin-bottom: 30px; } }
  @media (min-width: 1200px) {
    .gallery__item {
      width: 30%;
      margin-right: 5%; } }

.gallery__item-preview {
  height: 200px; }
  @media (min-width: 768px) {
    .gallery__item-preview {
      height: 218px; } }
  @media (min-width: 1200px) {
    .gallery__item-preview {
      height: 232px; } }

.gallery__link {
  display: block; }

.gallery__open-icon {
  fill: #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .gallery__open-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .gallery__open-icon:active {
    fill: #d3d3d3; }

.gallery__shadowbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 232px;
  min-width: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: #ffffff;
  opacity: 0; }
  .gallery__shadowbox:hover {
    -webkit-box-shadow: inset 0 0 0 200px rgba(36, 36, 36, 0.7);
            box-shadow: inset 0 0 0 200px rgba(36, 36, 36, 0.7);
    cursor: pointer;
    display: block;
    opacity: 1;
    background-color: transparent; }
    .gallery__shadowbox:hover .gallery__open {
      display: block; }

.gallery__open {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.trained {
  margin-bottom: 50px; }

.trained__title {
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .trained__title {
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 1200px) {
    .trained__title {
      font-size: 18px;
      line-height: 26px; } }
  .trained__title a {
    color: #00AFF0; }
    .trained__title a:hover {
      color: #008abd; }

.desc__list {
  list-style: none;
  color: #000000;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .desc__list {
      font-size: 16px;
      line-height: 22px; } }

.gallery__item.desc {
  padding: 15px 20px;
  margin-bottom: 0;
  width: 100%;
  min-height: 160px;
  color: #000000; }
  @media (min-width: 768px) {
    .gallery__item.desc {
      font-size: 14px;
      line-height: 16px; } }

.desc__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold; }

.desc__item {
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px; }
  .desc__item:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: '\f00c';
    display: inline-block;
    color: #666666; }

.page-footer {
  background-color: #343536;
  padding: 30px 0; }

.contacts {
  text-align: left; }

.contacts__link {
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  background-color: #00658a;
  border: none;
  text-decoration: none; }
  @media (min-width: 768px) {
    .contacts__link {
      display: inline-block;
      margin-bottom: 0;
      padding: 0;
      background-color: transparent;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      border-bottom: 1px solid rgba(0, 175, 240, 0.65); } }

.invisibly {
  display: none; }

.gallery-template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery-template__shadow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .gallery-template__shadow-box--close {
    display: none;
    overflow: auto; }

.gallery-template__content {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid red;
  width: 800px;
  min-height: 300px;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7); }

.gallery-template__img,
.gallery-template__desc {
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gallery-template__img {
  width: 45%;
  min-height: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/pink-preview.jpg"); }

.gallery-template__desc {
  width: 52%;
  padding: 20px 15px; }
  .gallery-template__desc p {
    margin-bottom: 15px; }
  .gallery-template__desc .cell1,
  .gallery-template__desc .cell2 {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 47%; }
  .gallery-template__desc .cell1 {
    color: red; }
  .gallery-template__desc .cell2 {
    margin-left: 15px; }

.gallery-template__img:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); }

.gallery-template__close {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer; }
  .gallery-template__close:after, .gallery-template__close:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%; }
  .gallery-template__close:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .gallery-template__close:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .gallery-template__close:hover {
    background-color: #d3d3d3; }
    .gallery-template__close:hover:after, .gallery-template__close:hover:before {
      background-color: #000; }
