/*______ Main Fonts ______*/
@font-face {
  font-family: 'GothaPro';
  src: url('../fonts/gothapro/GothaProReg/GothaProReg.eot');
  src: local('☺'), url('../fonts/gothapro/GothaProReg/GothaProReg.woff') format('woff'), url('../fonts/gothapro/GothaProReg/GothaProReg.ttf') format('truetype'), url('../fonts/gothapro/GothaProReg/GothaProReg.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GothaPro';
  src: url('../fonts/gothapro/GothaProBol/GothaProBol.eot');
  src: local('☺'), url('../fonts/gothapro/GothaProBol/GothaProBol.woff') format('woff'), url('../fonts/gothapro/GothaProBol/GothaProBol.ttf') format('truetype'), url('../fonts/gothapro/GothaProBol/GothaProBol.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*______ Elements ______*/
.btn {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  height: 50px;
  line-height: 48px;
  color: #044ff3;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.36px;
  font-family: "GothaPro";
  font-weight: 700;
  border: 1px solid #044ff3;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s ease;
  -o-transition: color 0.3s, background-color 0.3s ease;
  -moz-transition: color 0.3s, background-color 0.3s ease;
  transition: color 0.3s, background-color 0.3s ease;
}
.btn:hover {
  background-color: #044ff3;
  color: #ffffff;
  text-decoration: none;
}
.btn.btn--fill {
  background-color: #044ff3;
  color: #ffffff;
}
.btn.btn--fill:hover {
  background-color: transparent;
  color: #044ff3;
  text-decoration: none;
}
.btn.btn--medium {
  padding: 0 15px;
  min-width: 250px;
  letter-spacing: 1px;
}
.btn.btn--yellow {
  color: #ffffff;
  height: 35px;
  line-height: 33px;
  min-width: 230px;
  background-color: #f5a623;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #f5a623;
}
.btn.btn--yellow:hover {
  color: #f5a623;
  background-color: transparent;
}
h1,
.title-h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "GothaPro";
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
@media (min-width: 0) {
  h1,
  .title-h1 {
    font-size: 22px;
    line-height: 32px;
    word-break: break-all;
  }
}
@media (min-width: 768px) {
  h1,
  .title-h1 {
    font-size: 30px;
    line-height: 36px;
    word-break: unset;
  }
}
@media (min-width: 960px) {
  h1,
  .title-h1 {
    font-size: 46px;
    line-height: 48px;
  }
}
h2,
.title-h2 {
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "GothaPro";
}
@media (min-width: 0) {
  h2,
  .title-h2 {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  h2,
  .title-h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (min-width: 960px) {
  h2,
  .title-h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.telephone {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.toolbar-wrapper {
  margin-right: 7.5%;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 0) {
  .toolbar-wrapper {
    margin-bottom: 30px;
  }
  .toolbar-wrapper:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .toolbar-wrapper {
    margin-bottom: 0;
  }
}
.toolbar-wrapper label {
  cursor: pointer;
  display: block;
  width: 100%;
}
.toolbar-wrapper input[type="checkbox"] {
  display: none;
}
.toolbar-wrapper input[type="checkbox"]:checked ~ .custom-checkbox:before {
  left: 28px;
  background-color: #044ff3;
}
.toolbar-wrapper input[type="checkbox"]:checked ~ .custom-checkbox:after {
  display: none !important;
}
.toolbar-wrapper .custom-label {
  margin-bottom: 5px;
  display: block;
  color: #34495e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
}
.toolbar-wrapper .custom-checkbox {
  position: relative;
  display: block;
  width: 57px;
  height: 22px;
  background-color: #f8f4f4;
  border: 1px solid #dddddd;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.toolbar-wrapper .custom-checkbox:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #b0b0b0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.toolbar-wrapper .custom-checkbox:after {
  display: none;
}
.custom-checkbox {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16px;
  height: 16px;
  background-color: #f8f4f4;
  border: 1px solid #34495e;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.custom-radio {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #34495e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.custom-label {
  margin-top: -5px;
  display: inline-block;
  vertical-align: top;
  color: #34495e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .8px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .mw700 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
}
.fw400 {
  font-weight: 400;
}
.select2-container {
  z-index: 800;
}
@media (min-width: 0) {
  .select2-container {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 768px) {
  .select2-container {
    margin-bottom: 0 !important;
  }
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  min-height: 48px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
.select2-container .select2-search--inline {
  float: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}
.select2-container .select2-selection--multiple {
  height: 48px;
  border: none;
}
.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
  min-height: 48px;
}
ul.select2-choices {
  padding-right: 30px !important;
}
ul.select2-choices:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  border-top: 7px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.select2-container--open .select2-selection--multiple:before {
  border: none;
  border-bottom: 7px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.select2-container .select2-search--inline .select2-search__field {
  font-size: 14px;
}
.select2-results__option {
  font-size: 14px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 8px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  font-size: 14px;
}
body,
table {
  font-family: "GothaPro";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover {
  text-decoration: underline;
}
svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}
html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
          animation: none !important;
  visibility: visible !important;
}
@media (min-width: 0) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
@media (min-width: 768px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
.uk-container {
  margin: 0 auto;
  max-width: 1210px;
}
@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}
/* PAGE HEADER */
.header {
  padding-top: 40px;
  padding-bottom: 140px;
  background-image: -webkit-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -moz-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -o-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: linear-gradient(114deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
}
.header .telephone {
  padding-top: 3px;
  color: #404650;
}
.main-nav {
  padding-top: 3px;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.main-nav ul li {
  margin-left: 6.5%;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.main-nav ul li:first-child {
  margin-left: 0;
}
.main-nav ul li a {
  font-size: 16px;
  color: #404650;
  letter-spacing: 1.33px;
}
.banner {
  margin-top: 160px;
}
@media (min-width: 0) {
  .banner {
    margin-top: 50px;
  }
}
@media (min-width: 960px) {
  .banner {
    margin-top: 160px;
  }
}
.banner__btn-wrapper {
  margin-top: 55px;
}
.banner__btn-wrapper .btn:first-child {
  margin-right: 5%;
}
@media (min-width: 0) {
  .banner__btn-wrapper .btn:first-child {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .banner__btn-wrapper .btn:first-child {
    margin-right: 5%;
  }
}
@media (min-width: 0) {
  .banner__btn-wrapper {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .banner__btn-wrapper {
    text-align: left;
  }
}
.banner__img {
  padding-top: 40px;
}
@media (min-width: 0) {
  .banner__img {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .banner__img {
    text-align: right;
  }
}
@media (min-width: 960px) {
  .banner__img {
    margin-left: auto;
    max-width: 90%;
  }
}
.header__mobile ul.mobile-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  text-align: right;
}
.header__mobile ul.mobile-menu li {
  margin-left: 25px;
  display: inline-block;
  vertical-align: top;
}
.header__mobile ul.mobile-menu li svg {
  fill: #044ff3;
}
@media (min-width: 768px) {
  .header__mobile ul.mobile-menu li svg {
    width: 35px;
    height: 35px;
  }
  .header__mobile ul.mobile-menu li svg.icon-tel {
    margin-top: 3px;
    width: 28px;
    height: 28px;
  }
}
.uk-offcanvas-bar {
  background: #ffffff;
}
.uk-offcanvas .uk-panel a:not([class]) {
  color: #000000;
  letter-spacing: 1.3px;
}
/* PAGE CONTENT */
.services {
  margin-top: -60px;
}
@media (min-width: 0) {
  .services {
    margin-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .services {
    margin-bottom: 160px;
  }
}
.services__item {
  padding: 30px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
.services__item::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 0) {
  .services__item {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 960px) {
  .services__item {
    margin-bottom: 0 !important;
  }
}
.services__img {
  margin-right: 6.5%;
  float: left;
  text-align: center;
}
.services__img svg {
  fill: #044ff3;
}
.services__desc {
  overflow: hidden;
  color: #404650;
}
.services__title {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.services__text {
  font-size: 11px;
  line-height: 16px;
}
/* Application */
@media (min-width: 0) {
  .application-area {
    padding-bottom: 75px;
  }
}
@media (min-width: 960px) {
  .application-area {
    padding-bottom: 0;
  }
}
.application-area p {
  margin-bottom: 50px;
}
.area-counter {
  position: relative;
  margin-left: auto;
  padding: 0 30px 35px;
  max-width: 340px;
  background-image: -webkit-linear-gradient(146deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: -moz-linear-gradient(146deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: -o-linear-gradient(146deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: linear-gradient(-56deg, #f6f8fb 0%, #eaeff5 100%);
}
@media (min-width: 0) {
  .area-counter {
    margin-top: 70px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .area-counter {
    margin-top: 38px;
    margin-left: auto;
    min-height: 520px;
  }
}
.area-counter__val {
  margin-bottom: 45px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1px;
  letter-spacing: 2px;
}
.area-counter__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: .48px;
}
/* System */
.about-system {
  background-image: -webkit-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -moz-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -o-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: linear-gradient(114deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
}
@media (min-width: 0) {
  .about-system {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}
@media (min-width: 768px) {
  .about-system {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}
@media (min-width: 960px) {
  .about-system {
    padding-top: 295px;
  }
}
.about-system .title-h2 {
  margin: 0 auto 45px;
  max-width: 620px;
}
.about-system p {
  margin: 0 auto 70px;
  max-width: 700px;
}
.system__tooltip {
  position: relative;
  margin-bottom: 83px;
  padding: 20px 25px;
  max-width: 345px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
@media (min-width: 768px) {
  .system__tooltip {
    width: 50%;
    display: inline-block;
  }
  .system__tooltip:last-child {
    float: right;
  }
}
@media (min-width: 960px) {
  .system__tooltip {
    width: auto;
    display: block;
  }
  .system__tooltip:last-child {
    float: none;
  }
}
.system__tooltip.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -12px;
  display: block;
  border-left: 12px solid #ffffff;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 0) {
  .system__tooltip.arrow-right:after {
    display: none;
  }
}
@media (min-width: 960px) {
  .system__tooltip.arrow-right:after {
    display: block;
  }
}
.system__tooltip.arrow-left:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -12px;
  display: block;
  border-right: 12px solid #ffffff;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 0) {
  .system__tooltip.arrow-left:before {
    display: none;
  }
}
@media (min-width: 960px) {
  .system__tooltip.arrow-left:before {
    display: block;
  }
}
.system__title {
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: .7px;
}
.system__text {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 19px;
}
.system-slider {
  margin: 0 6%;
  max-width: 275px;
}
@media (min-width: 0) {
  .system-slider {
    margin: 70px auto 120px !important;
  }
}
@media (min-width: 768px) {
  .system-slider {
    margin-top: 0 !important;
  }
}
@media (min-width: 960px) {
  .system-slider {
    margin: 0 6% !important;
  }
}
.system-slider .slider {
  text-align: center;
}
.system-slider .slider img {
  display: inline;
}
.system-slider .slick-dots li.slick-active button:before {
  background-color: #044ff3;
}
.system-slider .slick-dots {
  bottom: -50px;
}
.system-slider .slick-dots li button:before {
  content: '';
  padding: 0;
  border: 1px solid #044ff3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
/* REQUEST FORM */
.request-block {
  padding: 80px 0 240px;
}
@media (min-width: 0) {
  .request-block .title-h2 {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .request-block .title-h2 {
    max-width: 60%;
  }
}
@media (min-width: 0) {
  .request-block {
    padding-bottom: 80px;
  }
  .request-block .btn {
    margin: 0 auto 20px;
    width: 100%;
    min-width: auto;
    max-width: 320px;
    display: block;
  }
}
@media (min-width: 768px) {
  .request-block {
    padding-bottom: 140px;
  }
}
@media (min-width: 960px) {
  .request-block {
    padding-bottom: 240px;
  }
  .request-block .btn {
    margin: 0 0 20px;
    width: auto;
    min-width: 250px;
    max-width: auto;
    display: inline-block;
  }
}
.request-form__inner {
  padding: 45px 12%;
  max-width: 820px;
  background-color: #eaeff5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
@media (min-width: 0) {
  .request-form__inner {
    margin-bottom: 50px !important;
    padding: 45px 15px;
  }
}
@media (min-width: 960px) {
  .request-form__inner {
    margin-bottom: 0 !important;
    padding: 45px 12%;
  }
}
.request-form__inner fieldset {
  border: none;
}
.add-info {
  max-width: 250px;
}
.add-info .title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #979797;
}
.add-info .text {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: .26px;
}
/* About company */
.about-company {
  padding: 50px 0 40px;
  background-image: -webkit-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -moz-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: -o-linear-gradient(336deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
  background-image: linear-gradient(114deg, #f6f7fc 0%, #f6f7fc 70%, rgba(246, 247, 252, 0.6) 70%, rgba(246, 247, 252, 0.6) 100%);
}
@media (min-width: 768px) {
  .about-company p {
    max-width: 80%;
  }
}
@media (min-width: 0) {
  .about-company__img {
    margin-top: 30px;
  }
}
@media (min-width: 960px) {
  .about-company__img {
    margin-top: -90px;
  }
}
.question-block {
  padding-top: 85px;
  padding-bottom: 130px;
}
@media (min-width: 0) {
  .question-block {
    padding-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .question-block {
    padding-bottom: 130px;
  }
}
/* PAGE FOOTER */
footer.footer {
  padding: 70px 0 60px;
  color: #ffffff;
  background-color: #000000;
}
footer.footer .logo img {
  display: block;
}
footer.footer .logo__subtitle {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.22px;
}
footer.footer .logo:hover {
  text-decoration: none;
}
footer.footer .telephone {
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__tel {
  padding-left: 14%;
}
@media (min-width: 0) {
  .footer__tel {
    margin-top: 25px;
    padding: 0;
    text-align: left;
  }
  .footer__tel .btn {
    min-width: auto;
    max-width: 250px;
    width: 100%;
    display: block;
    font-size: 13px;
  }
}
@media (min-width: 960px) {
  .footer__tel {
    margin-top: 0;
    padding-left: 14%;
    text-align: unset;
  }
}
@media (min-width: 1100px) {
  .footer__tel .btn {
    font-size: 14px;
    min-width: 230px;
    max-width: none;
    width: auto;
    display: inline-block;
  }
}
.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 0) {
  .footer-nav {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .footer-nav {
    margin-top: 0;
  }
}
.footer-nav li a {
  color: #ffffff;
  opacity: .8;
}
.footer-nav li a:hover {
  opacity: 1;
}
.company-contacts {
  font-size: 16px;
}
@media (min-width: 0) {
  .company-contacts {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .company-contacts {
    margin-top: 0;
  }
}
.company-contacts > div::after {
  content: "";
  display: table;
  clear: both;
}
.company-contacts .address {
  margin-bottom: 4px;
}
.company-contacts .label {
  margin-right: 10%;
  float: left;
  font-weight: 700;
  letter-spacing: 1.33px;
}
.company-contacts .text {
  overflow: hidden;
  opacity: .8;
}
.company-contacts .text a {
  color: #ffffff;
}
/* SLIDERS */
/* MODALS WINDOW */
.default-modal .uk-modal-dialog {
  padding-top: 50px;
  max-width: 580px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
.default-modal .title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.default-modal .subtitle {
  margin: 0 auto 30px;
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.26px;
}
@media (min-width: 0) {
  .default-modal .subtitle {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .default-modal .subtitle {
    max-width: 65%;
  }
}
.default-modal .uk-close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}
.default-modal .uk-close:after {
  content: "✖";
  font-size: 24px;
  opacity: 1;
  color: #000000;
}
.default-modal fieldset {
  margin: 0 auto 20px;
  padding: 0;
  display: block;
  border: none;
  max-width: 300px;
}
.default-modal label {
  display: block;
  color: #34495e;
  font-size: 14px;
  letter-spacing: 0.81px;
}
.default-modal input[type="text"] {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  line-height: 48px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.default-modal input[type="checkbox"] {
  display: none;
}
.default-modal input[type="checkbox"]:checked ~ span.custom-checkbox:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 8px;
  border-bottom: 2px solid #044ff3;
  border-right: 2px solid #044ff3;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.default-modal span.custom-checkbox.checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 8px;
  border-bottom: 2px solid #044ff3;
  border-right: 2px solid #044ff3;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.default-modal .btn {
  margin-top: 10px;
}
@media (min-width: 0) {
  .default-modal .btn {
    width: 100%;
    min-width: auto;
  }
}
.default-modal .custom-label {
  display: block;
  color: #34495e;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .8px;
}
.default-modal .custom-checkbox {
  margin-top: 3px;
}
.default-modal .form-politics {
  margin-top: 25px;
}
.form-politics {
  margin-top: 10px;
}
.form-politics label.error {
  line-height: 16px;
  font-size: 12px;
  margin-top: 5px;
}
.form-politics input[type="checkbox"] {
  display: none;
}
.form-politics input[type="checkbox"]:checked ~ span.custom-checkbox:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 8px;
  border-bottom: 2px solid #044ff3;
  border-right: 2px solid #044ff3;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.form-politics span.custom-checkbox.checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 8px;
  border-bottom: 2px solid #044ff3;
  border-right: 2px solid #044ff3;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.form-politics .custom-label {
  display: block;
  color: #34495e;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .8px;
}
.form-politics .custom-checkbox {
  margin-top: 3px;
}
/* FORMS */
.request-form fieldset {
  padding: 0;
}
.request-form fieldset label.no-mrl {
  margin-left: 0 !important;
}
@media (min-width: 0) {
  .request-form fieldset label {
    margin: 0 !important;
    display: block !important;
  }
}
@media (min-width: 960px) {
  .request-form fieldset label {
    margin: 0 0 0 5% !important;
    display: inline-block !important;
  }
}
.request-form fieldset:not([class]) {
  margin-top: 25px;
}
@media (min-width: 0) {
  .request-form fieldset:not([class]) {
    margin-top: 0;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .request-form fieldset:not([class]) {
    margin-top: 25px;
    margin-bottom: 0 !important;
  }
}
.request-form .form-title {
  margin-bottom: 5px;
  display: block;
  color: #34495e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
}
.request-form input[type="checkbox"],
.request-form input[type="radio"] {
  display: none;
}
.request-form input[type="checkbox"]:checked ~ span.custom-checkbox:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 8px;
  border-bottom: 2px solid #044ff3;
  border-right: 2px solid #044ff3;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.request-form input[type="radio"]:checked ~ span.custom-radio:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #358ed7;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 40px;
          border-radius: 40px;
}
.request-form label:not([class]) {
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}
.request-form label:not([class])::after {
  content: "";
  display: table;
  clear: both;
}
.request-form label:not([class]):first-child {
  margin-left: 0;
}
.request-form select {
  position: relative;
  margin-bottom: 25px !important;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #dddddd;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #ffffff url('../img/icon-svg/arrow-down.svg') right 15px center no-repeat;
  -webkit-background-size: 12px 9px;
  background-size: 12px 9px;
}
.request-form select:focus {
  background: #ffffff url('../img/icon-svg/arrow-up.svg') right 15px center no-repeat;
  -webkit-background-size: 12px 9px;
  background-size: 12px 9px;
}
.request-form select option[disabled] {
  display: none;
  opacity: .7;
}
.request-form select:invalid {
  color: gray;
}
.question-form {
  margin: 65px auto 20px;
  max-width: 975px;
}
.question-form .uk-grid > div {
  padding-left: 20px;
}
.question-form label {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  color: #34495e;
  letter-spacing: 0.81px;
}
.question-form input[type="text"] {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  color: #7c8495;
  letter-spacing: 0.26px;
  font-size: 14px;
  line-height: 48px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
@media (min-width: 0) {
  .question-form .btn {
    margin-top: 50px;
    min-width: auto;
    width: 100%;
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .question-form .btn {
    margin-top: 38px;
  }
}
@media (min-width: 960px) {
  .question-form .btn {
    width: auto;
    min-width: 300px;
    max-width: auto;
  }
}
label.error {
  color: red;
}
/*______ Application slider ______*/
.application-slider {
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
}
@media (min-width: 0) {
  .application-slider {
    padding: 20px 10px;
  }
}
@media (min-width: 768px) {
  .application-slider {
    margin-top: -280px;
    margin-bottom: -40px;
    padding: 20px 40px;
  }
}
@media (min-width: 960px) {
  .application-slider {
    margin-top: -250px;
    margin-bottom: -140px;
    padding: 60px 130px;
  }
}
.application-slider .slider {
  position: static;
}
@media (min-width: 0) {
  .application-slider .slide-img {
    margin-top: 20px;
    margin-bottom: 40px !important;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .application-slider .slide-img {
    margin-top: 80px;
    margin-bottom: 0 !important;
    text-align: left;
  }
}
.application-slider .slide-img img {
  display: inline;
}
.application-slider .desc-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}
.application-slider .desc-list li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16px;
  letter-spacing: 0.3px;
}
.application-slider .desc-list li .value {
  color: #222222;
  line-height: 1;
  font-weight: 700;
}
.application-slider .desc-list li .separator {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 10px;
  border-bottom: 1px dashed #979797;
}
.application-slider .desc-list li .application-target {
  padding-left: 14px;
  width: 35%;
  line-height: 1;
}
.application-slider .price {
  margin-bottom: 25px;
  font-weight: 700;
}
@media (min-width: 0) {
  .application-slider .price {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 960px) {
  .application-slider .price {
    font-size: 40px;
    line-height: 40px;
  }
}
.application-slider .slick-prev,
.application-slider .slick-next {
  width: 50px;
  height: 50px;
  background-color: #044ff3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  z-index: 500;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.application-slider .slick-prev:hover,
.application-slider .slick-next:hover {
  background-color: #6191fc;
}
.application-slider .slick-prev:before,
.application-slider .slick-next:before {
  font-family: none;
  font-size: 0;
  background: url('../img/icon-svg/left-arrow.svg') center no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.application-slider .slick-next:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.application-slider .counter {
  position: absolute;
  top: 60px;
  left: 160px;
  color: #b2bac4;
  line-height: 28px;
  font-weight: 400;
  font-size: 0;
}
@media (min-width: 0) {
  .application-slider .counter {
    display: none;
  }
}
@media (min-width: 768px) {
  .application-slider .counter {
    display: block;
    top: 25px;
  }
}
@media (min-width: 960px) {
  .application-slider .counter {
    top: 60px;
  }
}
.application-slider .counter div {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
}
.application-slider .counter__current-slide {
  position: relative;
  padding-right: 15px;
}
.application-slider .counter__current-slide:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
}
.application-slider .slick-dots li.slick-active button:before {
  background-color: #044ff3;
}
.application-slider .slick-dots {
  bottom: 10px;
}
.application-slider .slick-dots li button:before {
  content: '';
  padding: 0;
  border: 1px solid #044ff3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  width: 10px;
  height: 10px;
}
html,
body {
  overflow-x: hidden;
}
.area-counter {
  position: relative;
}
.area-counter:after {
  content: '';
  position: absolute;
  top: 0;
  right: -99%;
  width: 100%;
  height: 100%;
  display: block;
  background-image: -webkit-linear-gradient(34deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: -moz-linear-gradient(34deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: -o-linear-gradient(34deg, #f6f8fb 0%, #eaeff5 100%);
  background-image: linear-gradient(56deg, #f6f8fb 0%, #eaeff5 100%);
  z-index: -1;
}
