@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Proxima Nova Regular.woff2') format('woff2'), url('../fonts/proximanova/Proxima Nova Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Proxima Nova Bold.woff2') format('woff2'), url('../fonts/proximanova/Proxima Nova Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
body,
table {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
body {
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover {
  text-decoration: underline;
}
svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}
.uk-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .uk-container {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .uk-container {
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .uk-container {
    max-width: 1280px;
    padding: 0 40px;
  }
}
.title-h1 {
  margin-bottom: 40px;
  font-weight: 700;
  color: #203358;
}
@media (min-width: 0) {
  .title-h1 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (min-width: 768px) {
  .title-h1 {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (min-width: 960px) {
  .title-h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
.small-title {
  position: relative;
  margin-bottom: 10px;
  color: #7b7878;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
}
.small-title:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: #f7233c;
  margin-right: 10px;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.text-center {
  text-align: center;
}
.anim-fade {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}
p {
  font-size: 18px;
  line-height: 24px;
  color: #989898;
}
.white {
  color: #ffffff;
}
.gray-bg {
  background-color: #f8f8f8;
}
.uk-slide-up {
  -webkit-animation: slide-up 0.5s linear forwards;
     -moz-animation: slide-up 0.5s linear forwards;
          animation: slide-up 0.5s linear forwards;
}
.diagonally {
  -webkit-animation: slide-diagonally 0.5s linear forwards;
     -moz-animation: slide-diagonally 0.5s linear forwards;
          animation: slide-diagonally 0.5s linear forwards;
}
@media (min-width: 0) {
  .mt40 {
    margin-top: 40px;
  }
}
img {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
img[data-src] {
  width: 100%;
  height: 500px;
  display: inline-block;
  background: url('../img/ajax-loader.gif') center no-repeat;
}
@-webkit-keyframes slide-up {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-up {
  0% {
    visibility: hidden;
    -moz-transform: translateY(50px);
         transform: translateY(50px);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -moz-transform: translateY(25px);
         transform: translateY(25px);
    opacity: .5;
  }
  100% {
    -moz-transform: translateY(0);
         transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(50px);
       -moz-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -webkit-transform: translateY(25px);
       -moz-transform: translateY(25px);
            transform: translateY(25px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-diagonally {
  0% {
    visibility: hidden;
    -webkit-transform: translate(50%, 100%);
            transform: translate(50%, 100%);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(25%, 75%);
            transform: translate(25%, 75%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    opacity: 1;
  }
}
@-moz-keyframes slide-diagonally {
  0% {
    visibility: hidden;
    -moz-transform: translate(50%, 100%);
         transform: translate(50%, 100%);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -moz-transform: translate(25%, 75%);
         transform: translate(25%, 75%);
    opacity: .5;
  }
  100% {
    -moz-transform: translate(0, 50%);
         transform: translate(0, 50%);
    opacity: 1;
  }
}
@keyframes slide-diagonally {
  0% {
    visibility: hidden;
    -webkit-transform: translate(50%, 100%);
       -moz-transform: translate(50%, 100%);
            transform: translate(50%, 100%);
    opacity: 0;
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(25%, 75%);
       -moz-transform: translate(25%, 75%);
            transform: translate(25%, 75%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0, 50%);
       -moz-transform: translate(0, 50%);
            transform: translate(0, 50%);
    opacity: 1;
  }
}
/* PAGE HEADER */
.header {
  background: url('../img/header-bg-2.png') center 0 no-repeat;
  height: 800px;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (min-width: 0) {
  .header {
    height: 320px;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .header {
    height: 600px;
  }
}
@media (min-width: 960px) {
  .header {
    height: 790px;
  }
}
@media (min-width: 1600px) {
  .header {
    height: 1200px;
  }
}
.header__inner {
  height: 100vh;
  -webkit-background-size: cover;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0) {
  .header__inner {
    height: auto;
  }
}
@media (min-width: 1366px) {
  .header__inner {
    height: auto;
  }
}
.logo {
  margin-bottom: 30px;
  display: block;
}
.subtitle {
  font-size: 45px;
  font-weight: 300;
}
/* PAGE CONTENT */
.first-block {
  padding-bottom: 140px;
  position: relative;
}
@media (min-width: 0) {
  .first-block {
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .first-block {
    padding-bottom: 120px;
  }
}
.first-block .uk-container {
  position: relative;
  z-index: 215;
}
.first-block:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 800px;
  height: 1120px;
  background: url('../img/ellipse-2.png') 0 center no-repeat;
  z-index: 200;
  -webkit-background-size: 20px 100px;
  background-size: 20px 100px;
  -webkit-transition: -webkit-background-size 2.5s ease;
  transition: -webkit-background-size 2.5s ease;
  -o-transition: background-size 2.5s ease;
  -moz-transition: background-size 2.5s ease;
  transition: background-size 2.5s ease;
  transition: background-size 2.5s ease, -webkit-background-size 2.5s ease;
}
@media (min-width: 0) {
  .first-block:after {
    display: none;
  }
}
@media (min-width: 960px) {
  .first-block:after {
    display: block;
    width: 800px;
    height: 1120px;
  }
}
@media (min-width: 0) {
  .first-block.ellipse-active:after {
    -webkit-background-size: 100%;
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .first-block.ellipse-active:after {
    -webkit-background-size: 75%;
    background-size: 75%;
  }
}
@media (min-width: 960px) {
  .first-block.ellipse-active:after {
    -webkit-background-size: 800px 1120px;
    background-size: 800px 1120px;
  }
}
.second-block {
  position: relative;
  padding: 55px 0;
  background-color: #f7f6e7;
  background-image: url('../img/bg-vector.png'), url('../img/bg-vector.png');
  background-position: 0 50%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 200;
}
@media (min-width: 0) {
  .second-block {
    margin-bottom: 160px;
  }
}
@media (min-width: 960px) {
  .second-block {
    margin-bottom: 260px;
  }
}
.second-block .img-wrapper {
  position: relative;
  z-index: 400;
}
.devices-list {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media (min-width: 0) {
  .devices-list {
    margin: 50px 0 100px;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .devices-list {
    margin: 115px 0 390px;
    padding: 0 7%;
  }
}
.device {
  display: inline-block;
  vertical-align: bottom;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}
.device::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 0) {
  .device {
    margin-bottom: 25px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .device {
    width: auto;
  }
}
@media (min-width: 960px) {
  .device {
    width: 25%;
  }
}
.device__img {
  margin-right: 25px;
  float: left;
}
.device__img img {
  width: 100%;
  height: 100%;
}
.device__img img.device-tel {
  width: 25px;
  height: 50px;
}
.device__img img.device-tablet {
  width: 40px;
  height: 60px;
}
.device__img img.device-notebook {
  width: 100px;
  height: 60px;
}
.device__img img.device-desktop {
  width: 90px;
  height: 75px;
}
.device__text {
  overflow: hidden;
}
.device__name {
  margin-bottom: 10px;
  font-size: 16px;
}
.device__size {
  font-size: 24px;
  font-weight: 700;
}
.devices-screen {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
     -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
@media (min-width: 0) {
  .devices-screen {
    width: 100%;
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .devices-screen {
    width: auto;
    max-width: none;
  }
}
.third-block .uk-container {
  position: relative;
}
@media (min-width: 0) {
  .third-block p {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .third-block p {
    max-width: 65%;
  }
}
.third-block .capsules {
  position: absolute;
  top: 100px;
  right: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 80;
}
@media (min-width: 0) {
  .third-block .capsules {
    display: none;
  }
}
@media (min-width: 768px) {
  .third-block .capsules {
    display: block;
    max-width: 200px;
  }
}
@media (min-width: 960px) {
  .third-block .capsules {
    max-width: none;
  }
}
.third-block .filter {
  position: relative;
  margin: 70px 0 -100px;
  padding: 45px 17px;
}
.third-block .filter > div {
  position: relative;
  z-index: 60;
}
.third-block .filter:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 67%;
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0 0 51px rgba(32, 51, 88, 0.05);
          box-shadow: 0 0 51px rgba(32, 51, 88, 0.05);
  z-index: 25;
}
@media (min-width: 0) {
  .third-block .filter:before {
    max-width: 100%;
  }
}
@media (min-width: 960px) {
  .third-block .filter:before {
    max-width: 100%;
  }
}
.third-block .filter-title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  color: #2a3246;
  font-family: "Proxima Nova";
  letter-spacing: .6px;
  font-weight: 700;
  text-transform: uppercase;
}
.page-form-search {
  position: relative;
  margin-bottom: 40px;
  max-width: 977px;
}
.page-form-search i.separate {
  font-style: normal;
}
.page-form-search i.separate.hidden {
  visibility: hidden;
}
@-webkit-keyframes blink {
  0% {
    color: #444444;
  }
  100% {
    color: transparent;
  }
}
@-moz-keyframes blink {
  0% {
    color: #444444;
  }
  100% {
    color: transparent;
  }
}
@keyframes blink {
  0% {
    color: #444444;
  }
  100% {
    color: transparent;
  }
}
.page-form-search .input {
  position: relative;
  padding-left: 3%;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
  box-shadow: 0 3px 13px #d7e3e9;
  border: 1px solid #ff0043 ;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 18px;
}
.page-form-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ff0043;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.page-form-search__btn:after {
  content: '';
  margin: 0 auto;
  display: block;
  width: 18px;
  height: 18px;
  background: url('../img/icon-svg/search.svg') center no-repeat;
}
.services-filter {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 21px;
}
.services-filter__text {
  margin-right: 1%;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  color: #8f96a0;
}
.services-filter__list {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
}
.services-filter__list li {
  display: inline-block;
}
.services-filter__list li a {
  color: #d0021b;
  text-decoration: none;
  text-transform: uppercase;
}
.four-block {
  position: relative;
  overflow: hidden;
}
@media (min-width: 0) {
  .four-block {
    padding: 125px 0 25px;
    min-height: auto;
  }
}
@media (min-width: 960px) {
  .four-block {
    padding: 250px 0 70px;
    min-height: 800px;
  }
}
.four-block .man {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  z-index: 70;
}
@media (min-width: 0) {
  .four-block .man {
    display: none;
  }
}
@media (min-width: 960px) {
  .four-block .man {
    display: block;
  }
}
.four-block .services {
  position: relative;
  float: right;
  z-index: 65;
}
.five-block {
  padding-top: 50px;
  text-align: center;
}
.five-block.red-bg {
  background-image: url('../img/bg-vector.png'), -webkit-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-vector.png'), -moz-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-vector.png'), -o-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-vector.png'), linear-gradient(-225deg, #ca0e2b 0%, #ff374c 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 0;
}
.five-block p {
  margin: 0 auto 90px;
  max-width: 75%;
}
.gif-block {
  position: relative;
  max-width: 916px;
  margin: 0 auto -330px;
}
.gif-block .gif-content {
  position: absolute;
  top: 5%;
  left: 4%;
  bottom: 34.3%;
  right: 4.4%;
  overflow: hidden;
}
.gif-block .gif-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.six-block {
  position: relative;
}
@media (min-width: 0) {
  .six-block {
    margin-top: 400px;
  }
}
@media (min-width: 960px) {
  .six-block {
    margin-top: 580px;
  }
}
.six-block .uk-container::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 0) {
  .six-block .uk-container {
    padding-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .six-block .uk-container {
    padding-bottom: 150px;
  }
}
.six-block .form {
  float: left;
}
@media (min-width: 0) {
  .six-block .form {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 960px) {
  .six-block .form {
    margin-top: -85px;
    width: 50%;
  }
}
.six-block .text-block {
  float: right;
  width: 50%;
}
@media (min-width: 0) {
  .six-block .text-block {
    padding-top: 50px;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .six-block .text-block {
    padding-top: 150px;
    width: 50%;
  }
}
.stetoskop {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 0) {
  .seven-block {
    padding-top: 75px;
  }
}
@media (min-width: 960px) {
  .seven-block {
    padding-top: 150px;
  }
}
.seven-block p {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0) {
  .seven-block p {
    max-width: 100%;
  }
}
@media (min-width: 960px) {
  .seven-block p {
    max-width: 60%;
  }
}
.seven-block .examples {
  margin-top: 50px;
}
.seven-block .examples img {
  margin-bottom: 30px;
}
.eight-block {
  padding-top: 75px;
  padding-bottom: 190px;
  color: #ffffff;
}
@media (min-width: 0) {
  .eight-block {
    padding-bottom: 95px;
  }
}
@media (min-width: 768px) {
  .eight-block {
    padding-bottom: 190px;
  }
}
.eight-block.red-bg {
  background-image: url('../img/bg-grid.png'), -webkit-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-grid.png'), -moz-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-grid.png'), -o-linear-gradient(315deg, #ca0e2b 0%, #ff374c 100%);
  background-image: url('../img/bg-grid.png'), linear-gradient(-225deg, #ca0e2b 0%, #ff374c 100%);
  background-repeat: repeat, no-repeat;
  background-position: 0 100%, 0 0;
}
.typography .title {
  margin-bottom: 20px;
  padding-left: 6%;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 0) {
  .typography .title {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .typography .title {
    padding-left: 6%;
  }
}
.typography .text {
  padding-left: 6%;
  font-size: 34px;
  line-height: 40px;
}
@media (min-width: 0) {
  .typography .text {
    margin-bottom: 50px;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .typography .text {
    margin-bottom: 0;
    padding-left: 6%;
  }
}
.typography .text.bold {
  font-weight: 700;
}
.typography ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.typography ul li {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.typography ul li:first-child {
  margin-left: 0;
}
@media (min-width: 0) {
  .typography ul li {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .typography ul li {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
@media (min-width: 960px) {
  .typography ul li {
    margin-left: 30px;
  }
}
.nine-block .finish {
  margin: -100px auto 50px;
  padding-bottom: 400px;
  max-width: 1130px;
  text-align: center;
  -webkit-background-size: 20%;
  background-size: 20%;
  background-position: center 50%;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.nine-block .finish.anim-bg {
  background-position: center 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media (min-width: 0) {
  .nine-block .finish {
    padding-bottom: 0;
    background: none;
  }
}
@media (min-width: 960px) {
  .nine-block .finish {
    padding-bottom: 400px;
    background: url('../img/double-circle.png') center no-repeat;
  }
}
/* FORM */
.form .uk-modal-dialog {
  position: relative;
  margin: 0;
  margin-right: auto;
  padding: 80px 0;
  width: 555px;
  opacity: 1;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
@media (min-width: 768px) {
  .form .uk-modal-dialog {
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .form .uk-modal-dialog {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .form .uk-modal-dialog {
    margin: 0 auto;
    padding: 40px 0;
  }
}
.form .uk-modal-header {
  padding: 0 12.3%;
}
.form .uk-modal-header .title {
  position: relative;
  margin-bottom: 60px;
  color: #2a3246;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.77px;
  font-family: "Proxima Nova";
  text-transform: uppercase;
  text-align: left;
}
.form .title:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  width: 66px;
  height: 66px;
  background: url('../img/icon-svg/doc-log.svg') center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
@media (min-width: 0) {
  .form .title:after {
    display: none;
  }
}
@media (min-width: 768px) {
  .form .title:after {
    display: block;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .form .uk-modal-header .title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}
.form .uk-modal-header .uk-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  opacity: 1;
  color: #2a3246;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
  box-shadow: 0 3px 13px #d7e3e9;
}
.form .uk-modal-header .uk-modal-close:hover {
  -webkit-box-shadow: 0 0 14px 5px #d7e3e9;
  box-shadow: 0 0 14px 5px #d7e3e9;
}
.form .uk-modal-body {
  padding: 0 8.3%;
}
.form .uk-modal-body:after {
  content: '';
  display: block;
  clear: both;
}
@media (min-width: 0) and (max-width: 767px) {
  .form .uk-modal-body {
    padding: 0 5%;
  }
  #discount-modal .uk-modal-body .modal-btn {
    min-width: 40%;
  }
}
.form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}
.form input[type="text"] {
  margin-bottom: 20px;
  position: relative;
  padding-left: 3%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
  box-shadow: 0 3px 13px #d7e3e9;
  border: 1px solid #e7f2f8;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 16px;
}
@media (min-width: 0) and (max-width: 767px) {
  .form input[type="text"] {
    padding: 0 30px;
  }
}
.form input[type="text"]::-webkit-input-placeholder {
  color: #9b9b9b;
}
.form input[type="text"]:-moz-placeholder {
  color: #9b9b9b;
}
.form input[type="text"]::-moz-placeholder {
  color: #9b9b9b;
}
.form input[type="text"]:-ms-input-placeholder {
  color: #9b9b9b;
}
.form input[type="text"]::-ms-input-placeholder {
  color: #9b9b9b;
}
.form input[type="text"]::placeholder {
  color: #9b9b9b;
}
.form input[type="text"]:focus {
  border: 1px solid #293146 !important;
  -webkit-box-shadow: 0 3px 13px #d7e3e9 !important;
  box-shadow: 0 3px 13px #d7e3e9 !important;
}
.form input[type="text"]:focus ~ button {
  background-color: #ff0043;
}
.form input[type="text"]:hover {
  border: 1px solid #293146;
}
.form input[type="text"]:last-child {
  margin-bottom: 0;
}
.form .modal-btn {
  margin-top: 40px;
  min-width: 162px;
  float: left;
}
.form .custom-input__wrapper {
  margin-bottom: 20px;
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.form .custom-input__wrapper:nth-child(1) {
  margin-right: 3%;
}
.form .custom-input__wrapper i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #ff0043;
}
.form .custom-input__wrapper input[type="text"] {
  margin-bottom: 0;
  padding: 0 30px;
  height: 40px;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
  background: url('../img/icon-svg/arrow-down-icon.svg') right 20px center no-repeat;
}
.form .custom-input__wrapper input[type="text"]:focus {
  background: url('../img/icon-svg/arrow-up-icon.svg') right 20px center no-repeat;
  border-color: #293146 !important;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}
.form .custom-input__wrapper input[type="text"].focused {
  background: url('../img/icon-svg/arrow-up-icon.svg') right 20px center no-repeat;
  border-color: #293146 !important;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}
.form .custom-input__wrapper:hover {
  cursor: pointer;
}
.form .custom-input__wrapper:hover input[type="text"] {
  cursor: pointer;
}
@media (min-width: 0) and (max-width: 767px) {
  .form .custom-input__wrapper {
    width: 100%;
  }
}
.form .uk-dropdown-small {
  padding: 0;
  border: 1px solid #293146;
  border-top: 1px solid #e7f2f8;
  width: 100% !important;
  background-color: #ffffff;
}
@media (min-width: 0) and (max-width: 767px) {
  .form .uk-autocomplete {
    width: 100%;
  }
}
.form .uk-autocomplete.uk-open input {
  border-color: #293146;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
}
.form .uk-autocomplete li.uk-active a {
  background-color: #ff0043;
}
.form label.error {
  margin-top: -15px;
  margin-bottom: 10px;
  display: block !important;
  color: #ff0043;
}
.uk-datepicker-table a {
  width: 20px !important;
}
.select2-container--default.select2-container--open {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border: 1px solid #293146;
  border-bottom: 1px solid #e7f2f8;
  -webkit-border-radius: 20px 20px 0 0 !important;
  border-radius: 20px 20px 0 0 !important;
  outline: none;
}
.select2-container--default.select2-container--open .select2-selection__arrow:before {
  color: #8f96a0;
  content: '\e901';
}
.select2-container--default .select2-selection--single {
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 0 5%;
  border: 1px solid #e7f2f8;
  outline: none;
}
.select2-container--default .select2-selection__rendered {
  height: 40px;
  line-height: 40px !important;
  text-align: left;
}
.select2-container--default .select2-selection__arrow {
  right: 15px !important;
}
.select2-container--default .select2-selection__arrow b {
  display: none;
}
.select2-dropdown {
  border: none;
  border-top: none;
}
.select2-dropdown .select2-results {
  border: 1px solid #293146;
  border-top: 0;
  margin-right: -1px;
}
.select2-results__option {
  padding: 0 7%;
  color: #2a3246;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #ffffff;
  background-color: #ff0043;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ff7e9f;
  color: #ffffff;
}
.custom-input:before {
  content: "\e900";
  color: #ff0043;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
label.custom-checkbox-wrapper:hover {
  cursor: pointer;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}
.select2-container--default {
  height: 40px;
  max-width: 100%;
  line-height: 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  outline: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
  box-shadow: 0 3px 13px #d7e3e9;
}
.select2-container--default.select2-container--open .select2-selection__arrow:before {
  width: 20px;
  height: 100%;
  display: block;
  background: url(../img/icon-svg/arrow-up-icon.svg) center no-repeat;
  content: "";
}
.select2-container--default .select2-selection__arrow:before {
  width: 20px;
  height: 100%;
  display: block;
  background: url(../img/icon-svg/arrow-down-icon.svg) center no-repeat;
  content: "";
  color: #ff0043;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.btn,
button.btn {
  margin-bottom: 30px;
  padding: 0 25px;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  color: #2a3246;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #dd0039;
  outline: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Proxima Nova";
  background: transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}
a.btn--fill,
button.btn--fill {
  -webkit-box-shadow: 0 2px 4px #f6aec1;
  box-shadow: 0 2px 4px #f6aec1;
  background-color: #ff0043;
  border: none;
  color: #ffffff;
}
a.btn--fill:hover,
button.btn--fill:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff7e9f;
}
.form .modal-btn {
  margin-top: 40px;
  min-width: 162px;
}
label.custom-checkbox-wrapper:hover {
  cursor: pointer;
}
label.custom-checkbox-wrapper input[type="checkbox"] {
  display: none;
}
label.custom-checkbox-wrapper .custom-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
  box-shadow: 0 3px 13px #d7e3e9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #96a0aa;
  background-color: #ffffff;
}
label.custom-checkbox-wrapper .custom-checkbox:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 7px;
  display: block;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
label.custom-checkbox-wrapper .custom-checkbox-label {
  margin-left: 35px;
  display: block;
  overflow: hidden;
  color: #9b9b9b;
  font-size: 14px;
}
label.custom-checkbox-wrapper input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: #293146;
}
.uk-datepicker a:hover {
  color: #ffffff;
  background-color: #f6aec1;
}
.uk-datepicker a.uk-active {
  background-color: #ff0043;
}
.uk-datepicker.uk-dropdown {
  padding: 15px 7px;
}
.uk-datepicker .uk-datepicker-nav a {
  color: #ff0043;
}
.uk-datepicker .uk-datepicker-nav a:hover {
  background: transparent;
}
.uk-datepicker {
  border: 1px solid #293146;
  border-top: 1px solid #e7f2f8;
  background: #ffffff;
}
.form .custom-input__wrapper input[type="text"].focused {
  background: url('../img/icon-svg/arrow-up-icon.svg') right 20px center no-repeat;
  border-color: #293146 !important;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}
.uk-nav-autocomplete {
  text-align: left;
}
/* PAGE FOOTER */
/* SLIDERS */
/* MODALS WINDOW */
/* FORMS */
