/* @mixin background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media: $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}
}
 */

/*______ SourceSansPro ______*/

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/*______ Merriweather ______*/

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-BlackItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 900;
}

/*______ Icomoon ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?kr5tio");
  src: url("../fonts/icomoon/icomoon.eot?kr5tio#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?kr5tio") format("truetype"), url("../fonts/icomoon/icomoon.woff?kr5tio") format("woff"), url("../fonts/icomoon/icomoon.svg?kr5tio#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-vk:before {
  content: "\e901";
}

.icon-inst:before {
  content: "\e902";
}

.icon-youtube:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e905";
}

.icon-play-button:before {
  content: "\e906";
  color: #ac1542;
}

.icon-sqad:before {
  content: "\e907";
  color: #ac1542;
}

.icon-arrow-right:before {
  content: "\e908";
}

/*______ Elements ______*/

h1,
.title-h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Merriweather";
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  font-style: italic;
  color: #323232;
}

h2,
.title-h2 {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
  font-family: "Merriweather";
  font-style: italic;
}

h3,
.title-h3 {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  font-family: "Merriweather";
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead td {
  color: #9297a1;
}

table thead td:first-child {
  padding-left: 40px;
}

table td {
  padding: 10px 0;
  color: #4b4b4b;
  font-family: "Merriweather";
  font-weight: 900;
  font-style: italic;
  border-bottom: 1px solid #9297a1;
}

table tbody tr:last-child td {
  border: none;
}

table tbody tr td:first-child {
  padding-left: 40px;
}

.btn {
  padding: 0 15px;
  min-width: 210px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #fa5503;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #c84402;
  color: #ffffff;
  text-decoration: none;
}

.backpage-btn {
  position: absolute;
  color: #000000;
  font-size: 28px;
}

.backpage-btn:hover {
  text-decoration: none;
  color: #ac1542;
}

.play-btn {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 130px;
  font-size: 30px;
  line-height: 130px;
  text-align: center;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffffff;
}

.play-btn:before {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.play-btn:hover {
  text-decoration: none;
  background-color: #ac1542;
}

.play-btn:hover:before {
  color: #ffffff;
}

.soc-links {
  -webkit-transition: margin .3s ease;
  -o-transition: margin .3s ease;
  -moz-transition: margin .3s ease;
  transition: margin .3s ease;
}

.soc-links a {
  margin-right: 20px;
  display: inline-block;
  color: #000000;
  font-size: 20px;
}

.soc-links a.icon-vk {
  font-size: 21px;
}

.soc-links a:last-child {
  margin-right: 0;
}

.soc-links a:before {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.soc-links a:hover {
  text-decoration: none;
}

.soc-links a:hover:before {
  color: #ac1542;
}

.text-block {
  position: relative;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 30px;
  z-index: 400;
}

.bold-link {
  font-size: 21px;
  line-height: 30px;
  color: #ac1542;
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.bold-link:hover {
  color: #ac1542;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}

.img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.09);
  -webkit-transition: width .8s ease .8s;
  -o-transition: width .8s ease .8s;
  -moz-transition: width .8s ease .8s;
  transition: width .8s ease .8s;
  z-index: 40;
}

.img-wrapper.scale-280deg {
  margin-top: 50px;
  margin-bottom: 70px;
}

.img-wrapper.scale-280deg img {
  position: relative;
  z-index: 50;
}

.img-wrapper.scale-280deg:before {
  width: 100%;
  -webkit-transform: translate(80px, -55px);
  -moz-transform: translate(80px, -55px);
  -ms-transform: translate(80px, -55px);
  transform: translate(80px, -55px);
}

.img-wrapper.scale-140deg {
  margin-top: -150px;
  margin-bottom: 70px;
}

.img-wrapper.scale-140deg img {
  -webkit-transform: translate(45px, 75px);
  -moz-transform: translate(45px, 75px);
  -ms-transform: translate(45px, 75px);
  transform: translate(45px, 75px);
}

.img-wrapper.scale-140deg:before {
  width: 100%;
}

/*______ Breadcrumbs ______*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
}

.breadcrumbs li a {
  position: relative;
  margin-right: 10px;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  color: #1b181a;
}

.breadcrumbs li a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: -9px;
  display: block;
  width: 4px;
  height: 1px;
  background-color: #000000;
}

.breadcrumbs li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #1b181a;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.breadcrumbs li a:hover {
  text-decoration: none;
}

.breadcrumbs li a:hover:after {
  width: 100%;
}

/*______ Page Controller ______*/

.page-controller {
  position: absolute;
  bottom: -50px;
  font-size: 0;
}

.page-controller .elem {
  margin-right: 35px;
  display: inline-block;
  vertical-align: top;
}

.page-controller .elem.arrow {
  font-size: 18px;
}

.page-controller .elem.sqad {
  font-size: 20px;
}

.page-controller .elem.text {
  font-size: 18px;
  line-height: 1;
}

.page-controller .elem a {
  color: rgba(0, 0, 0, 0.8);
}

.page-controller .elem a:hover {
  text-decoration: none;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #955182;
}

.progress-bar__load {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: #804670;
  -webkit-transition-property: width;
  -o-transition-property: width;
  -moz-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 30;
}

html,
body,
table {
  font-family: "SourceSansPro";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1b181a;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.uk-container--large {
  max-width: 1800px;
}

.uk-lightbox {
  background: rgba(0, 0, 0, 0.5);
}

.uk-lightbox-button {
  background-color: transparent;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  opacity: 1;
  font-size: 24px;
}

.uk-lightbox-button.uk-slidenav-previous:before {
  content: "\e900";
}

.uk-lightbox-button.uk-slidenav-next:before {
  content: "\e908";
}

.uk-lightbox-button:hover {
  text-decoration: none;
}

.uk-lightbox-button svg {
  display: none;
}

.uk-lightbox-toolbar {
  background-color: transparent;
}

.uk-lightbox-toolbar * {
  color: #ffffff;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  -webkit-transition: all .3s ease .3s;
  -o-transition: all .3s ease .3s;
  -moz-transition: all .3s ease .3s;
  transition: all .3s ease .3s;
}

.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.preloader.loaded {
  opacity: 0;
  z-index: -1;
}

.preloader.loaded img {
  -webkit-transform: translate(-60%, -50%);
  -moz-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
  opacity: 0;
}

.remove-margin-bottom {
  margin-top: 0 !important;
}

.remove-margin-bottom {
  margin-bottom: 0 !important;
}

/*______ Animation ______*/

@-webkit-keyframes pseudo-element-anim-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes pseudo-element-anim-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes pseudo-element-anim-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes pseudo-element-anim-width-half {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@-moz-keyframes pseudo-element-anim-width-half {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes pseudo-element-anim-width-half {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes slide-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scale-140deg {
  0% {
    -webkit-transform: tranlate(0, 0);
    transform: tranlate(0, 0);
  }

  100% {
    -webkit-transform: translate(45px, 75px);
    transform: translate(45px, 75px);
  }
}

@-moz-keyframes scale-140deg {
  0% {
    -moz-transform: tranlate(0, 0);
    transform: tranlate(0, 0);
  }

  100% {
    -moz-transform: translate(45px, 75px);
    transform: translate(45px, 75px);
  }
}

@keyframes scale-140deg {
  0% {
    -webkit-transform: tranlate(0, 0);
    -moz-transform: tranlate(0, 0);
    transform: tranlate(0, 0);
  }

  100% {
    -webkit-transform: translate(45px, 75px);
    -moz-transform: translate(45px, 75px);
    transform: translate(45px, 75px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@-moz-keyframes scale {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -moz-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }
}

/*______ Header ______*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  z-index: 900;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

.header:before {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transition: width 1.2s ease .3s;
  -o-transition: width 1.2s ease .3s;
  -moz-transition: width 1.2s ease .3s;
  transition: width 1.2s ease .3s;
}

.header .header-desk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.header .uk-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-basis: 63%;
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
}

.header .uk-container > div {
  height: 70px;
  display: inline-block;
  vertical-align: top;
}

.header .tel {
  line-height: 70px;
}

.header .tel a {
  color: #1b181a;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
}

.header .soc-links {
  margin: 0 10%;
  line-height: 80px;
  white-space: nowrap;
}

.header .soc-links a.icon-youtube {
  font-size: 24px;
}

.header .logo,
.header .btn {
  display: inline-block;
}

.header .logo {
  float: left;
}

.header .wrapper-btn {
  float: right;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease 1.2s;
  transition: -webkit-transform .3s ease 1.2s;
  -o-transition: transform .3s ease 1.2s;
  -moz-transition: transform .3s ease 1.2s, -moz-transform .3s ease 1.2s;
  transition: transform .3s ease 1.2s;
  transition: transform .3s ease 1.2s, -webkit-transform .3s ease 1.2s, -moz-transform .3s ease 1.2s;
}

.header.animate:before {
  width: 100%;
}

.header.animate .logo__img {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.header.animate .wrapper-btn {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.logo {
  line-height: 70px;
}

.logo a {
  display: block;
}

.logo a::after {
  content: "";
  display: table;
  clear: both;
}

.logo__img {
  position: relative;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  float: left;
  text-align: center;
  background-color: #ac1542;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  -moz-transition: transform .2s ease, -moz-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease, -moz-transform .2s ease;
}

.logo__slogan {
  color: #323232;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
}

.logo a:hover {
  text-decoration: none;
}

.main-nav {
  display: inline-block;
}

.main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
}

.main-nav ul li a {
  color: #1b181a;
  position: relative;
  color: #1b181a;
}

.main-nav ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #1b181a;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.main-nav ul li a:hover {
  text-decoration: none;
}

.main-nav ul li a:hover:after {
  width: 100%;
}

.main-nav ul li.active a {
  color: #ac1542;
}

.main-nav ul li.active a:after {
  width: 100%;
  background-color: #ac1542;
}

/*______ Page Content ______*/

body {
  min-height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
}

body.main-page {
  overflow: hidden;
  background-color: transparent;
}

body.animate .main-play-btn-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

body.animate .title-h1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

body.animate .slogan {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

body.animate .main-btn-wrapper {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

body.animate .seo-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: .8;
}

body.animate .business-wrapper .uk-container:after {
  width: 55%;
}

body.animate .portfolio-filter:after {
  width: 100%;
}

body.animate .pseudo-element-anim-width:after {
  -webkit-animation: pseudo-element-anim-width 1.3s ease forwards;
  -moz-animation: pseudo-element-anim-width 1.3s ease forwards;
  animation: pseudo-element-anim-width 1.3s ease forwards;
}

body.animate .pseudo-element-anim-width-half:after {
  -webkit-animation: pseudo-element-anim-width-half 1.3s ease forwards;
  -moz-animation: pseudo-element-anim-width-half 1.3s ease forwards;
  animation: pseudo-element-anim-width-half 1.3s ease forwards;
}

body.animate .slide-up {
  -webkit-animation: slide-up 1.3s ease forwards;
  -moz-animation: slide-up 1.3s ease forwards;
  animation: slide-up 1.3s ease forwards;
}

body.animate .slide-left {
  -webkit-animation: slide-left 1.3s ease forwards;
  -moz-animation: slide-left 1.3s ease forwards;
  animation: slide-left 1.3s ease forwards;
}

.content {
  padding: 70px 0;
}

.content p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 30px;
}

.main-page {
  height: 100vh;
}

.main-page__inner {
  position: relative;
  padding-top: 220px;
  height: 100%;
  z-index: 100;
  color: #ffffff;
}

.main-page__inner .uk-container {
  position: relative;
  padding-bottom: 70px;
  height: 100%;
}

.main-page__inner .title-h1 {
  font-size: 80px;
  line-height: 100px;
  color: #ffffff;
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -ms-transform: translateY(75px);
  transform: translateY(75px);
  opacity: 0;
  -webkit-transition: opacity 1.15s 1.3s ease, -webkit-transform 1.15s 1.3s;
  transition: opacity 1.15s 1.3s ease, -webkit-transform 1.15s 1.3s;
  -o-transition: transform 1.15s 1.3s, opacity 1.15s 1.3s ease;
  -moz-transition: transform 1.15s 1.3s, opacity 1.15s 1.3s ease, -moz-transform 1.15s 1.3s;
  transition: transform 1.15s 1.3s, opacity 1.15s 1.3s ease;
  transition: transform 1.15s 1.3s, opacity 1.15s 1.3s ease, -webkit-transform 1.15s 1.3s, -moz-transform 1.15s 1.3s;
}

.main-page__inner .slogan {
  max-width: 50%;
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -ms-transform: translateY(75px);
  transform: translateY(75px);
  opacity: 0;
  -webkit-transition: opacity 1.15s 1.5s ease, -webkit-transform 1.15s 1.5s;
  transition: opacity 1.15s 1.5s ease, -webkit-transform 1.15s 1.5s;
  -o-transition: transform 1.15s 1.5s, opacity 1.15s 1.5s ease;
  -moz-transition: transform 1.15s 1.5s, opacity 1.15s 1.5s ease, -moz-transform 1.15s 1.5s;
  transition: transform 1.15s 1.5s, opacity 1.15s 1.5s ease;
  transition: transform 1.15s 1.5s, opacity 1.15s 1.5s ease, -webkit-transform 1.15s 1.5s, -moz-transform 1.15s 1.5s;
}

.main-page__inner .main-btn-wrapper {
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -ms-transform: translateY(75px);
  transform: translateY(75px);
  opacity: 0;
  -webkit-transition: opacity 1.15s 1.9s ease, -webkit-transform 1.15s 1.9s;
  transition: opacity 1.15s 1.9s ease, -webkit-transform 1.15s 1.9s;
  -o-transition: transform 1.15s 1.9s, opacity 1.15s 1.9s ease;
  -moz-transition: transform 1.15s 1.9s, opacity 1.15s 1.9s ease, -moz-transform 1.15s 1.9s;
  transition: transform 1.15s 1.9s, opacity 1.15s 1.9s ease;
  transition: transform 1.15s 1.9s, opacity 1.15s 1.9s ease, -webkit-transform 1.15s 1.9s, -moz-transform 1.15s 1.9s;
}

.main-page__inner .btn {
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.main-page__inner .seo-text {
  position: absolute;
  bottom: 70px;
  left: 15px;
  opacity: 0.8;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -ms-transform: translateY(75px);
  transform: translateY(75px);
  opacity: 0;
  -webkit-transition: opacity 1.15s 2.1s ease, -webkit-transform 1.15s 2.1s;
  transition: opacity 1.15s 2.1s ease, -webkit-transform 1.15s 2.1s;
  -o-transition: transform 1.15s 2.1s, opacity 1.15s 2.1s ease;
  -moz-transition: transform 1.15s 2.1s, opacity 1.15s 2.1s ease, -moz-transform 1.15s 2.1s;
  transition: transform 1.15s 2.1s, opacity 1.15s 2.1s ease;
  transition: transform 1.15s 2.1s, opacity 1.15s 2.1s ease, -webkit-transform 1.15s 2.1s, -moz-transform 1.15s 2.1s;
}

.main-page .bg-phone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.main-page .bg-phone img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-page .main-play-btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 1.15s 1.1s ease, -webkit-transform 1.15s .7s;
  transition: opacity 1.15s 1.1s ease, -webkit-transform 1.15s .7s;
  -o-transition: transform 1.15s .7s, opacity 1.15s 1.1s ease;
  -moz-transition: transform 1.15s .7s, opacity 1.15s 1.1s ease, -moz-transform 1.15s .7s;
  transition: transform 1.15s .7s, opacity 1.15s 1.1s ease;
  transition: transform 1.15s .7s, opacity 1.15s 1.1s ease, -webkit-transform 1.15s .7s, -moz-transform 1.15s .7s;
}

.main-page .play-btn {
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

/*______ Page Text ______*/

.text-page .uk-container {
  position: relative;
}

.text-page .breadcrumbs-wrapper {
  margin: 60px auto 30px;
}

.text-page p {
  margin: 0 auto 80px;
  max-width: 900px;
  font-weight: 300;
  text-align: center;
}

/*______ Page Portfolio ______*/

.portfolio-wrapper {
  margin-top: 75px;
}

.portfolio-wrapper .breadcrumbs {
  margin: 0 0 30px;
}

.portfolio-wrapper h1,
.portfolio-wrapper .title-h1 {
  margin-top: 0;
}

.portfolio-wrapper .text-block {
  padding-top: 20px;
}

.portfolio-filter {
  position: relative;
  margin-top: -80px;
  margin-bottom: 30px;
  padding: 150px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio-filter:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 0;
  background-color: rgba(155, 155, 155, 0.05);
  -webkit-transition: width .8s ease 1.8s;
  -o-transition: width .8s ease 1.8s;
  -moz-transition: width .8s ease 1.8s;
  transition: width .8s ease 1.8s;
  z-index: 1;
}

.portfolio-filter a {
  position: relative;
  color: #1b181a;
  margin: 0 30px 15px;
  position: relative;
  color: #7f7f7f;
  line-height: 20px;
  word-wrap: nowrap;
  z-index: 20;
  font-weight: 400;
  font-family: "Merriweather";
}

.portfolio-filter a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #1b181a;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.portfolio-filter a:hover {
  text-decoration: none;
}

.portfolio-filter a:hover:after {
  width: 100%;
}

.portfolio-filter a.active {
  color: #ac1542;
}

.portfolio-filter a.active:after {
  background-color: #ac1542;
  width: 100%;
}

.portfolio-list .portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-list .portfolio-item:hover {
  text-decoration: none;
}

.portfolio-list .portfolio-item:hover .img-wrapper img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-list .portfolio-item .img-wrapper {
  position: relative;
  margin-bottom: 10px;
  display: block;
  z-index: 15;
  overflow: hidden;
}

.portfolio-list .portfolio-item .img-wrapper img {
  -webkit-transition: -webkit-transform 2.5s ease;
  transition: -webkit-transform 2.5s ease;
  -o-transition: transform 2.5s ease;
  -moz-transition: transform 2.5s ease, -moz-transform 2.5s ease;
  transition: transform 2.5s ease;
  transition: transform 2.5s ease, -webkit-transform 2.5s ease, -moz-transform 2.5s ease;
  will-change: transform;
}

.portfolio-list .portfolio-item .subtitle {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  font-family: "Merriweather";
  letter-spacing: -0.24px;
  z-index: 15;
}

/*______ Page Portfolio Detail ______*/

.portfolio-detail {
  margin-top: 150px;
}

.portfolio-detail .uk-container {
  position: relative;
}

/*______ Page Business ______*/

.business-wrapper {
  position: relative;
  margin-top: 160px;
}

.business-wrapper .uk-container {
  position: relative;
}

.business-wrapper .uk-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 0;
  background-color: rgba(155, 155, 155, 0.05);
  -webkit-transition: width .6s ease 1.8s;
  -o-transition: width .6s ease 1.8s;
  -moz-transition: width .6s ease 1.8s;
  transition: width .6s ease 1.8s;
  z-index: 1;
}

.business-list-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 35%;
  position: relative;
  z-index: 10;
}

.business-list-links li a {
  color: #ac1542;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: underline;
}

.business-patners-slider {
  position: relative;
  margin-top: 120px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
}

.business-patners-slider .slide {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  -o-transition: filter .3s ease;
  -moz-transition: filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
  text-align: center;
}

.business-patners-slider .slide img {
  display: inline;
}

.business-patners-slider .slide:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/*______ Business detail ______*/

.business-detail-wrapper {
  margin-top: 130px;
}

.business-detail-wrapper .breadcrumbs-wrapper {
  margin-bottom: 30px;
}

.business-detail-wrapper .uk-container {
  position: relative;
}

.service-portfolio-list {
  text-align: center;
}

.service-portfolio-list img {
  margin: 0 20px 20px 20px;
  display: inline-block;
  vertical-align: top;
}

/*______ Page Blog ______*/

.blog-wrapper {
  margin-top: 130px;
}

.blog-wrapper .breadcrumbs-wrapper {
  margin-bottom: 30px;
}

.blog-list {
  margin-top: 130px;
}

.blog-preview {
  position: relative;
  overflow: hidden;
}

.blog-preview a {
  position: relative;
  display: block;
  max-height: 100%;
  color: #000000;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  -moz-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  z-index: 20;
}

.blog-preview a:hover {
  text-decoration: none;
}

.blog-preview a:hover:after {
  -webkit-box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.3);
}

.blog-preview a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/separate.png") center no-repeat;
  z-index: 4;
}

.blog-preview a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  -moz-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.blog-preview__img {
  width: 100%;
  height: 560px;
  background-color: #ffffff;
}

.blog-preview__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover; object-position: cover;';
}

.blog-preview__desc {
  padding: 95px 18%;
  max-height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.blog-preview__title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
  font-family: "Merriweather";
  font-style: italic;
  text-align: center;
}

.blog-preview__text {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  line-height: 30px;
  height: 260px;
  max-height: 100%;
  overflow: hidden;
}

.blog-preview__text:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(50%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%);
  background-image: -o-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%);
  background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.5) 50%);
}

/*______ Page Services ______*/

.services-wrapper {
  margin-top: 75px;
}

.services-wrapper .text-block {
  padding-top: 20px;
}

.title-h1 {
  margin-top: 0;
}

.services-list-wrapper {
  position: relative;
  margin-top: -80px;
  margin-bottom: 30px;
  padding: 150px 0 50px;
}

.services-list-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 0;
  background-color: rgba(155, 155, 155, 0.05);
  -webkit-transition: width .8s ease 1.8s;
  -o-transition: width .8s ease 1.8s;
  -moz-transition: width .8s ease 1.8s;
  transition: width .8s ease 1.8s;
  z-index: 1;
}

.services-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  z-index: 50;
}

.services-list li {
  margin-bottom: 25px;
}

.services-list li a {
  line-height: 20px;
  font-weight: 400;
  font-family: "Merriweather";
  text-decoration: underline;
  color: #ac1542;
}

.services-detail-wrapper {
  margin-top: 130px;
}

.services-detail-wrapper .uk-container {
  position: relative;
}

.services-detail-wrapper .breadcrumbs-wrapper {
  margin-bottom: 30px;
}

/*______ Page About Us ______*/

.about-us-wrapper {
  margin-top: 240px;
}

.about-us-wrapper .breadcrumbs-wrapper {
  margin-bottom: 30px;
}

.about-us-wrapper p {
  padding-right: 5%;
  font-weight: 300;
  line-height: 30px;
}

/*______ PAGE FOOTER ______*/

/*______ SLIDERS ______*/

.detail-slider {
  position: relative;
}

.detail-slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.09);
  -webkit-transform: translate(100px, 85px);
  -moz-transform: translate(100px, 85px);
  -ms-transform: translate(100px, 85px);
  transform: translate(100px, 85px);
}

.detail-slider .slider {
  position: relative;
  z-index: 200;
}

.detail-slider .slide {
  overflow: hidden;
}

.detail-slider .slide.imgPlay img {
  -webkit-animation-name: scale;
  -moz-animation-name: scale;
  animation-name: scale;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.detail-slider .slide.pause img {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  animation-duration: 12s;
}

.slider__arrow {
  position: absolute;
  width: 140px;
  bottom: -50px;
  right: 0;
  z-index: 100;
}

.slider__arrow::after {
  content: "";
  display: table;
  clear: both;
}

.slider__arrow > div {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.slider__arrow .slide-prev {
  float: left;
}

.slider__arrow .slide-next {
  float: right;
}

.counter {
  position: absolute;
  bottom: -50px;
  right: 55px;
}

.counter > div {
  display: inline-block;
  vertical-align: top;
}

.counter__current-slide {
  position: relative;
  padding-right: 10px;
}

.counter__current-slide:after {
  content: '/';
  position: absolute;
  right: 0;
}

/*______ MODALS WINDOWS ______*/

.default-modal {
  padding: 0;
}

.default-modal .uk-modal-dialog {
  position: relative;
  margin: 0 0 0 auto;
  height: 100%;
  width: 50%;
}

.default-modal .uk-modal-dialog .uk-close {
  right: auto;
  top: 20px;
  left: 20px;
}

.default-modal .uk-modal-dialog .uk-close svg {
  width: 30px;
  height: 30px;
  color: #ac1542;
}

.default-modal .title-h2 {
  margin-bottom: 70px;
}

.default-modal .btn {
  margin-top: 40px;
  height: 60px;
  line-height: 60px;
}

.default-modal .modal-body-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*______ FORMS ______*/

form fieldset {
  margin: 0 0 15px;
  padding: 0;
  border: none;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
  width: 100%;
  border: none;
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
  outline: none;
}

form label {
  margin-top: 20px;
}

form label.politics {
  display: block;
  font-size: 14px;
}

label {
  margin-top: 25px;
  display: block;
  cursor: pointer;
}

label input[type="checkbox"] {
  display: none;
}

label input[type="checkbox"]:checked ~ .custom-checkbox:after {
  border-color: #fa5503;
  -webkit-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

.custom-checkbox {
  position: relative;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid #fa5503;
}

.custom-checkbox:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 3px;
  height: 9px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transform: rotate(45deg) scale(0);
  -moz-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.custom-label {
  display: block;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
}

@media (min-width: 0px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .logo {
    width: 70px;
    min-width: auto;
  }
}

@media (min-width: 960px) {
  .backpage-btn {
    top: -40px;
    left: 0;
  }

  .uk-container {
    padding: 0 15px;
  }

  .header .uk-container {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }

  .header .tel a {
    font-size: 16px;
  }

  .header .soc-links {
    margin: 0 3%;
  }

  .header .btn {
    min-width: 140px;
  }

  .logo__slogan {
    display: none;
  }

  .main-nav {
    width: 70%;
  }

  .main-nav ul li a {
    font-size: 14px;
  }

  .main-page__inner {
    padding-top: 140px;
  }

  .main-page__inner .uk-container {
    max-width: 80%;
    margin-left: 70px;
  }

  .main-page__inner .title-h1 {
    font-size: 50px;
    line-height: 70px;
  }

  .main-page__inner .slogan {
    margin: 20px 0 50px;
  }

  .main-page__inner .seo-text {
    text-indent: -9999px;
    width: 1px;
    visibility: hidden;
  }

  .main-page .main-play-btn-wrapper {
    right: 30px;
  }

  .portfolio-detail .text-block {
    padding-right: 15%;
  }

  .blog-preview {
    height: 560px;
    overflow: hidden;
  }
}

@media (min-width: 1366px) {
  .backpage-btn {
    top: -2px;
    left: -5%;
  }

  .header .uk-container {
    -webkit-flex-basis: 63%;
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%;
  }

  .header .tel a {
    font-size: 21px;
  }

  .header .soc-links {
    margin: 0 5%;
  }

  .header .btn {
    min-width: 210px;
  }

  .logo {
    width: auto;
    min-width: 200px;
  }

  .logo__slogan {
    display: block;
  }

  .main-nav {
    width: 58%;
  }

  .main-nav ul li a {
    font-size: 16px;
  }

  .main-page__inner .uk-container {
    max-width: 63%;
    margin-left: auto;
  }
}

@media (min-width: 1600px) {
  .backpage-btn {
    left: -15%;
  }

  .header .soc-links {
    margin: 0 10%;
  }

  .main-page__inner {
    padding-top: 220px;
  }

  .main-page__inner .title-h1 {
    font-size: 80px;
    line-height: 100px;
  }

  .main-page__inner .slogan {
    margin: 40px 0 70px;
  }

  .main-page__inner .seo-text {
    text-indent: 0;
    width: auto;
    visibility: visible;
    bottom: 20px;
  }

  .main-page__inner .seo-text {
    bottom: 70px;
  }
}