
.soc-links a {
	margin-right: 10%;
}

.nav-list {
	display: block;
	text-align: justify;
}

.nav-list li {
	display: inline-block;
	margin-right: 5%;
	vertical-align: top;
}
.nav-list li:last-child {
	margin-right: 0;
}

.main-slider .slick-dots {
	z-index: 999;
}

.breadcrumbs li a::after{
	content: '';
	top: 50%;
	display: block;
	width: 4px;
	height: 1px;
	background: #ff0044;;
}

.services-list__inner {
	height: 140px;
	display: table-cell;
	vertical-align: middle;
}

@media (min-width: 960px) and (max-width: 1100px) {
	.nav-list li {
		margin-right: 2%;
	}
}

@media (min-width: 1100px) and (max-width: 1200px) {
	.nav-list li {
		margin-right: 4%;
	}
}
