@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Proxima Nova Regular.woff2') format('woff2'), url('../fonts/proximanova/Proxima Nova Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Proxima Nova Bold.woff2') format('woff2'), url('../fonts/proximanova/Proxima Nova Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?nhb4m8');
  src: url('../fonts/icomoon/icomoon.eot?nhb4m8#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?nhb4m8') format('truetype'), url('../fonts/icomoon/icomoon.woff?nhb4m8') format('woff'), url('../fonts/icomoon/icomoon.svg?nhb4m8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down-icon:before {
  content: "\e900";
}
.icon-arrow-up-icon:before {
  content: "\e901";
}
.icon-doctor-symbol:before {
  content: "\e902";
}
.icon-faceboook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-pick:before {
  content: "\e905";
}
.icon-right-arrow-icon:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-telephone:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-left-arrow-icon:before {
  content: "\e90a";
  color: #e7f2f8;
}
.icon-menu:before {
  content: "\e90b";
}
.icon-checked:before {
  content: "\e90c";
  color: #fff;
}
.icon-mobile-arrow-right:before {
  content: "\e90d";
}
.icon-menu-2:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.blockShadow {
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
}
body,
table {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #8f96a0;
}
body a {
  color: #8f96a0;
  text-decoration: underline;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
body a:hover {
  color: #2a3246;
}
body a.black {
  color: #2a3246;
}
body a.black:hover {
  color: #000000;
}
body a.pink {
  color: #ff0044;
}
body a.pink:hover {
  color: #d0021b;
}
body a.bold {
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  color: #2a3246;
  font-family: "Proxima Nova";
  letter-spacing: .6px;
  font-weight: 700;
  text-transform: uppercase;
}
h1 {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 42px;
}
@media (min-width: 0) and (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
h2 {
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 34px;
}
@media (min-width: 0) and (max-width: 767px) {
  h2 {
    font-size: 21px;
    line-height: 28px;
  }
}
h3 {
  font-size: 22px;
  line-height: 28px;
}
h4 {
  font-size: 16px;
  line-height: 21px;
}
svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}
.uk-container {
  margin: 0 auto;
  max-width: 1170px;
}
@media (min-width: 0) and (max-width: 767px) {
  .uk-container {
    padding: 0 10px;
  }
}
@media (min-width: 480px) {
  .uk-container {
    padding: 0 15px;
  }
}
a.btn,
button.btn {
  margin-bottom: 30px;
  padding: 0 25px;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  color: #2a3246;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #dd0039;
  outline: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  cursor: pointer;
  font-family: "Proxima Nova";
  background: transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}
a.btn:hover,
button.btn:hover {
  text-decoration: none;
  color: #ff7e9f;
  border-color: #ff7e9f;
}
a.btn:focus,
button.btn:focus {
  color: #ffffff;
  background-color: #dd0039;
  border-color: #dd0039;
}
a.btn--fill,
button.btn--fill {
  -webkit-box-shadow: 0 2px 4px #f6aec1;
          box-shadow: 0 2px 4px #f6aec1;
  background-color: #ff0043;
  border: none;
  color: #ffffff;
}
a.btn--fill:hover,
button.btn--fill:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff7e9f;
}
a.btn--fill:focus,
button.btn--fill:focus {
  color: #ffffff;
  background-color: #dd0039;
}
a.btn--big,
button.btn--big {
  width: 100%;
  height: 90px;
  text-align: center;
  line-height: 90px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
a.btn--gray,
button.btn--gray {
  position: relative;
  border: 1px solid #8f96a0;
  color: #9b9b9b;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
a.btn--gray:after,
button.btn--gray:after {
  position: absolute;
  top: 54%;
  right: 20%;
  display: block;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  opacity: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  content: '\e906';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.btn--gray:hover,
button.btn--gray:hover {
  padding-right: 45px;
  color: #9b9b9b;
  border-color: #8f96a0;
}
a.btn--gray:hover:after,
button.btn--gray:hover:after {
  right: 10%;
  opacity: 1;
  color: #ff0043;
}
a.btn--gray:focus,
button.btn--gray:focus {
  padding-right: 45px;
  color: #ffffff;
  background-color: #96a0aa;
  border-color: #8f96a0;
}
a.btn--gray:focus:after,
button.btn--gray:focus:after {
  color: #ffffff;
}
a.btn.icon-doctor-symbol,
button.btn.icon-doctor-symbol {
  position: relative;
  padding-left: 45px;
  font-family: "Proxima Nova" !important;
}
a.btn.icon-doctor-symbol:before,
button.btn.icon-doctor-symbol:before {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  font-size: 18px;
  line-height: 1;
  font-family: 'icomoon' !important;
  font-weight: 400;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
          animation: none !important;
  visibility: visible !important;
}
@media (min-width: 0) and (max-width: 767px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
/* PAGE HEADER */
@media (min-width: 768px) and (max-width: 959px) {
  .header {
    margin-bottom: 40px;
  }
}
.header__top {
  padding: 35px 0;
}
.header__top .soc-links {
  padding: 12px 20px;
}
@media (min-width: 960px) and (max-width: 1085px) {
  .header__top .soc-links {
    padding: 12px 5px;
  }
}
.header__bottom {
  padding: 10px 0;
  background-color: #f8f7e7;
}
.header__bottom a.btn {
  margin-top: 0;
  float: right;
}
.header__search {
  padding-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  float: right;
}
.header__search:hover {
  color: #ff0043;
  text-decoration: none;
}
.contacts {
  color: #000000;
}
.contacts__timework {
  padding: 6px 0;
}
.contacts__address {
  padding: 6px 0;
}
@media (min-width: 960px) and (max-width: 1085px) {
  .contacts__address {
    font-size: 14px;
  }
}
.contacts__address a {
  position: relative;
  padding-left: 15px;
  color: #4a4a4a;
  font-size: 13px;
  font-family: "Proxima Nova" !important;
}
.contacts__address a:hover {
  color: #dd0039;
}
.contacts__address a:before {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 12px;
  color: #ff0043;
  font-family: 'icomoon' !important;
}
.contacts__telephones {
  padding: 6px 0;
}
.contacts__telephones a {
  margin-bottom: 5px;
  display: inline-block;
}
.contacts__telephones a.icon-telephone {
  position: relative;
  padding-left: 20px;
  color: #4a4a4a;
  font-size: 13px;
  font-family: "Proxima Nova" !important;
}
.contacts__telephones a.icon-telephone:hover {
  color: #dd0039;
}
.contacts__telephones a.icon-telephone:before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  color: #ff0043;
  font-family: 'icomoon' !important;
}
.contacts .uk-grid div[class^='uk-width-']:first-child {
  padding-left: 0;
}
.soc-links {
  padding: 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.soc-links a {
  margin-right: 20%;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px rgba(213, 213, 213, 0.5);
          box-shadow: 0 2px 4px rgba(213, 213, 213, 0.5);
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s, background-color 0.3s ease;
  -moz-transition: box-shadow 0.3s, background-color 0.3s ease;
  transition: box-shadow 0.3s, background-color 0.3s ease;
  transition: box-shadow 0.3s, background-color 0.3s ease, -webkit-box-shadow 0.3s;
}
.soc-links a:before {
  color: #293146;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}
.soc-links a:hover {
  -webkit-box-shadow: 0 2px 4px rgba(221, 0, 57, 0.5);
          box-shadow: 0 2px 4px rgba(221, 0, 57, 0.5);
}
.soc-links a:hover:before {
  color: #ff0043;
}
.soc-links a:focus {
  background-color: #dd0039;
}
.soc-links a:focus:before {
  color: #ffffff;
}
.soc-links a:last-child {
  margin-right: 0;
}
.main-tel {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 960px) and (max-width: 1085px) {
  .main-tel {
    font-size: 14px;
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.nav-list li {
  height: 40px;
  line-height: 40px;
}
.nav-list li a {
  color: #2a3246;
  font-weight: 700;
  text-decoration: none;
}
.nav-list li a:hover {
  color: #dd0039;
}
/* HEADER MOBILE */
.header-mobile {
  padding: 20px 0;
}
.header-mobile a.menu {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #ff0043;
  font-size: 28px;
  text-decoration: none;
}
@media (min-width: 370px) {
  .header-mobile a.menu {
    margin-top: 10px;
  }
}
.header-mobile a.menu:before {
  font-size: 40px;
}
.header-mobile a.btn.btn--fill {
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
@media (min-width: 370px) {
  .header-mobile a.btn.btn--fill {
    margin-top: 10px;
  }
}
.header-mobile a.btn.btn--fill:before {
  position: static;
  display: inline;
  line-height: inherit;
}
.header-mobile .search-form {
  display: block;
}
.header-mobile .mobile-tel {
  margin: 30px 0 20px;
  text-align: center;
}
.header-mobile .mobile-tel a.main-tel {
  position: relative;
  padding-left: 26px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  font-family: "Proxima Nova" !important;
}
.header-mobile .mobile-tel a.main-tel:before {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 15px;
  font-family: 'icomoon' !important;
  color: #ff0043;
}
.header-mobile .mobile-search .search-form {
  padding-right: 0;
}
.header-mobile .mobile-search .search-form__btn {
  width: 40px;
}
.header-mobile .mobile-search .search-form input {
  padding-left: 20px;
}
.uk-offcanvas-bar {
  background-color: #ffffff;
}
.uk-offcanvas .uk-panel .uk-nav li.uk-active a {
  color: #ff0043;
}
.uk-offcanvas .uk-panel .uk-nav a {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.uk-offcanvas .uk-panel .uk-nav a:hover {
  color: #ff7e9f;
}
/* PAGE CONTENT */
.content-header.bg--gray {
  padding: 50px 0 60px;
}
.content-header.bg--gray .breadcrumbs {
  margin-bottom: 70px;
}
.content-header h1 {
  margin-bottom: 45px;
}
@media (min-width: 0) and (max-width: 767px) {
  .content-header h1 {
    margin-bottom: 30px;
  }
}
.content-header h2 {
  margin-bottom: 10px;
}
.content-header .page-form-search {
  margin-bottom: 40px;
}
.services-detail-header {
  padding-top: 15px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.staff-detail-header {
  margin-bottom: 30px;
  padding-bottom: 60px;
  background-color: #f7f7f7;
}
.staff-detail-header h1,
.staff-detail-header h2 {
  margin-bottom: 10px;
}
.staff-detail-header .detail-staff-position {
  margin-bottom: 60px;
  color: #8f96a0;
  font-size: 24px;
  letter-spacing: .6px;
}
.staff-detail-header .uk-container {
  position: relative;
}
.staff-detail-header .detail-staff-avatar {
  position: absolute;
  width: 250px;
  height: 210px;
  overflow: hidden;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
}
@media (min-width: 0) and (max-width: 767px) {
  .staff-detail-header .detail-staff-avatar {
    position: static;
    margin-bottom: 50px	;
  }
}
.content-body {
  padding: 40px 0 80px;
}
.content-body ul li,
.content-body ol li {
  margin-bottom: 7px;
}
.content-body .promo {
  margin-top: 100px;
}
.content-body .seo-text {
  padding-top: 100px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 50px;
  list-style: none;
  color: #293146;
}
@media (min-width: 0) and (max-width: 767px) {
  .breadcrumbs {
    margin-bottom: 20px;
  }
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.breadcrumbs li a {
  position: relative;
  padding-right: 10px;
  color: #d0021b;
}
.breadcrumbs li a:after {
  content: '-';
  position: absolute;
  top: 0;
  right: 0;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs li span {
  display: inline-block;
  vertical-align: top;
  color: #293146;
}
.our-staff {
  padding: 80px 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-staff {
    padding: 60px 0 80px;
  }
  .our-staff h2 {
    text-align: center;
  }
  .our-staff .btn {
    margin: 0 auto;
    padding: 0;
    display: block;
    max-width: 165px;
    text-align: center;
  }
}
.our-staff__list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.our-staff__item {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-staff__item {
    width: 45%;
    margin-right: 10%;
  }
  .our-staff__item:nth-child(2n) {
    margin-right: 0;
  }
  .our-staff__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.our-staff__item a {
  color: #2a3246;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .7px;
}
.our-staff__item a:hover {
  color: #ff0043;
}
.promo {
  background-color: #f8f6e7;
}
.promo .uk-container {
  position: relative;
  padding: 65px 15px;
}
@media (min-width: 0) and (max-width: 767px) {
  .promo .uk-container {
    padding: 30px 10px 0;
  }
  .promo .uk-container h2 {
    text-align: center;
  }
  .promo .uk-container .btn {
    margin: 0 auto;
    padding: 0;
    display: block;
    max-width: 165px;
    text-align: center;
  }
}
.promo__text {
  margin-bottom: 40px;
  max-width: 40%;
}
@media (min-width: 0) and (max-width: 767px) {
  .promo__text {
    max-width: 80%;
    margin: 0 auto 40px;
  }
}
.promo__img {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .promo__img {
    position: static;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .promo__img {
    width: 350px;
  }
}
.about-company {
  padding: 90px 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .about-company h2 {
    text-align: center;
  }
  .about-company .btn {
    margin: 0 auto;
    padding: 0;
    display: block;
    max-width: 165px;
    text-align: center;
  }
}
.about-company__text {
  padding-right: 5%;
  margin-bottom: 40px;
}
.uk-tab {
  margin-bottom: 40px;
  border-bottom-color: #e7f2f8;
}
@media (min-width: 0) and (max-width: 767px) {
  .uk-tab {
    margin-bottom: 20px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: none;
  }
}
.uk-tab li {
  width: 50%;
  position: relative;
  border: none;
  margin-bottom: 0;
  padding-bottom: 12px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
@media (min-width: 0) and (max-width: 767px) {
  .uk-tab li {
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}
.uk-tab li a {
  padding: 0;
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: .9px;
  border: none;
}
.uk-tab li a:focus {
  background-color: transparent;
  border-color: transparent;
  color: #dd0039;
}
.uk-tab li a:hover {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-color: transparent;
  color: #ff7e9f;
}
.uk-tab li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.uk-tab li.uk-active {
  background-color: transparent;
  border: none;
}
.uk-tab li.uk-active a {
  color: #2a3246;
  border: none;
  background: transparent;
}
.uk-tab li.uk-active a:after {
  background-color: #ff0043;
}
.uk-tab > li.uk-open:not(.uk-active) > a,
.uk-tab > li:not(.uk-active) > a:focus,
.uk-tab > li:not(.uk-active) > a:hover {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .uk-tab > li:nth-child(n+2) > a {
    margin: 0;
  }
}
/* VIDEO FRAME ON MAIN PAGE */
.video-frame {
  position: relative;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}
.video-block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
.video-preview {
  position: relative;
  display: block;
}
.video-preview img {
  width: 100%;
  height: 100%;
}
.video-preview .video-play {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  fill: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
  z-index: 15;
}
.video-preview:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0.35);
}
/* PATHNERS */
.partners {
  padding: 80px 0 50px;
}
@media (min-width: 0) and (max-width: 767px) {
  .partners h2 {
    text-align: center;
  }
}
.partners__list {
  margin-top: 50px;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.partners__item {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
}
.partners__item:nth-child(1n) {
  text-align: left;
}
.partners__item:nth-child(5n) {
  text-align: right;
}
@media (min-width: 0) and (max-width: 767px) {
  .partners__item {
    text-align: center;
    width: 100%;
  }
  .partners__item img {
    display: inline;
  }
  .partners__item:nth-child(1n) {
    text-align: center;
  }
  .partners__item:nth-child(5n) {
    text-align: center;
  }
}
/* STAFF LIST */
.staff-cards-list {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.staff-cards-list .staff-card {
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .staff-cards-list .staff-card {
    margin-right: 2.66666%;
  }
  .staff-cards-list .staff-card:nth-child(4n) {
    margin-right: 0;
  }
}
.staff-cards-list.column-3 .staff-card {
  width: 30%;
  margin-right: 3.3333%;
}
.staff-cards-list.column-3 .staff-card:nth-child(4n) {
  margin-right: 3.3333%;
}
.staff-cards-list.column-3 .staff-card:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .staff-cards-list.column-3 .staff-card {
    width: 100%;
    margin: 0;
  }
}
.staff-card {
  padding: 15px 15px 25px;
  width: 23%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
@media (min-width: 0) and (max-width: 767px) {
  .staff-card {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .staff-card {
    width: 30%;
    margin-right: 5%;
  }
  .staff-card:nth-child(3n) {
    margin-right: 0;
  }
}
.staff-card:hover {
  -webkit-box-shadow: 0 5px 30px #d7e3e9;
          box-shadow: 0 5px 30px #d7e3e9;
}
.staff-card__img {
  margin-bottom: 20px;
  text-align: center;
  max-height: 196px;
  overflow: hidden;
}
.staff-card__desc {
  padding: 0 3%;
}
.staff-card__name {
  margin-bottom: 15px;
  color: #2a3246;
  font-size: 16px;
  font-weight: 700;
}
.staff-card__name span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.staff-card__text {
  margin-bottom: 25px;
  color: #9b9b9b;
  font-size: 14px;
  line-height: 18px;
}
.staff-card a.btn {
  margin-bottom: 0;
}
@media (min-width: 960px) and (max-width: 1040px) {
  .staff-card a.btn {
    font-size: 13px;
  }
}
/* DETAIL STAFF LIST */
.detail-staff-list {
  margin-top: 80px;
}
/* DETAIL SERVICES */
.detail-services {
  margin-top: 80px;
}
.services-filter {
  margin-top: 5px;
  margin-bottom: 20px;
}
.services-filter__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 1%;
  list-style: none;
  font-size: 21px;
}
@media (min-width: 0) and (max-width: 767px) {
  .services-filter__list {
    margin-top: 10px;
  }
}
.services-filter__list li {
  display: inline-block;
}
.services-filter__list li a {
  color: #d0021b;
  text-decoration: none;
  text-transform: uppercase;
}
.services-filter__list li a:hover {
  color: #2a3246;
  text-decoration: underline;
}
.services-filter__list li a.active {
  color: #2a3246;
  text-decoration: none;
}
.services-list-title {
  margin-bottom: 45px;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.services-list__item {
  margin-right: 2.5%;
  margin-bottom: 30px;
  width: 18%;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.services-list__item:hover {
  -webkit-box-shadow: 0 5px 30px #d7e3e9;
          box-shadow: 0 5px 30px #d7e3e9;
}
.services-list__item:hover .services-list__link {
  position: relative;
  opacity: 1;
}
.services-list__item:hover .services-list__link:after {
  right: 0;
}
@media (min-width: 0) and (max-width: 480px) {
  .services-list__item {
    margin: 0 0 30px;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services-list__item {
    margin: 0 0 30px;
    margin-right: 10%;
    width: 45%;
  }
  .services-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .services-list__item {
    margin-bottom: 15px;
    width: 23%;
    margin-right: 2.66666%;
  }
  .services-list__item:nth-child(5n) {
    margin-right: 2.66666%;
  }
  .services-list__item:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .services-list__item:nth-child(5n) {
    margin-right: 0;
  }
}
.services-list__inner {
  padding: 0 20px 0 30px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 767px) {
  .services-list__inner {
    display: table-cell;
    height: 140px;
    vertical-align: middle;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .services-list__inner {
    display: table-cell;
    height: 140px;
    vertical-align: middle;
  }
}
.services-list__name {
  position: relative;
  top: 0;
  color: #2a3246;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  -moz-transition: top .3s ease;
  transition: top .3s ease;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  word-break: break-word;
}
.services-list__link {
  position: absolute;
  padding-right: 20px;
  display: inline-block;
  color: #ff0044;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
}
@media (min-width: 0) and (max-width: 767px) {
  .services-list__link {
    position: relative;
    display: inliblock;
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .services-list__link {
    position: relative;
    display: inliblock;
    opacity: 1;
  }
}
.services-list__link:after {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  content: "\e906";
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  font-size: 12px;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 960px) {
  .services-list__link:after {
    right: 20%;
  }
}
.services-list.grid-4 .services-list__item {
  margin-right: 2.6666%;
  width: 23%;
}
@media (min-width: 0) and (max-width: 480px) {
  .services-list.grid-4 .services-list__item {
    margin: 0 0 30px;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services-list.grid-4 .services-list__item {
    margin: 0 0 30px;
    margin-right: 10%;
    width: 45%;
  }
  .services-list.grid-4 .services-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .services-list.grid-4 .services-list__item {
    width: 30%;
    margin-right: 5%;
  }
  .services-list.grid-4 .services-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .services-list.grid-4 .services-list__item:nth-child(4n) {
    margin-right: 5%;
  }
}
@media (min-width: 960px) {
  .services-list.grid-4 .services-list__item:nth-child(4n) {
    margin-right: 0;
  }
  .services-list.grid-4 .services-list__item:nth-child(5n) {
    margin-right: 2.6666%;
  }
}
.directions-filter {
  position: relative;
}
@media (min-width: 0) and (max-width: 767px) {
  .directions-filter {
    margin: 0 -10px;
    padding: 15px 10px;
  }
  .directions-filter.open {
    background-color: #e7f2f8;
  }
}
.directions-filter__title {
  margin-bottom: 35px;
  color: #2a3246;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}
@media (min-width: 0) and (max-width: 767px) {
  .directions-filter__title {
    position: relative;
    margin-bottom: 10px;
    padding-right: 25px;
    display: inline-block;
    vertical-align: top;
  }
  .directions-filter__title:before {
    position: absolute;
    right: 0;
    content: "\e90f";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.directions-filter__list {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
@media (min-width: 0) and (max-width: 767px) {
  .directions-filter__list {
    position: absolute;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: #e7f2f8;
    display: none;
  }
}
.directions-filter__list a {
  text-decoration: none;
}
.directions-filter__list a:hover {
  color: #dd0039;
}
.uk-pagination {
  margin-top: 30px;
  text-align: left;
}
.uk-pagination li {
  vertical-align: middle;
}
.uk-pagination li.uk-disabled a {
  margin-right: 20px;
  color: #e7f2f8;
}
.uk-pagination li a {
  color: #ff0043;
}
.uk-pagination > li > a {
  min-width: auto;
  padding: 0;
  line-height: 1;
  background: transparent;
}
.uk-pagination > li:nth-child(n+2) {
  margin-left: 8px;
}
.uk-pagination > .uk-active {
  margin-left: 15px !important;
}
.uk-pagination > .uk-active > span {
  color: #9b9b9b;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.uk-pagination > li > a:focus,
.uk-pagination > li > a:hover {
  background: transparent;
  color: #000000;
}
/* PROMO SIDEBAR */
.promo-sidebar {
  padding: 0 10%;
}
@media (min-width: 0) and (max-width: 767px) {
  .promo-sidebar {
    margin-top: 50px;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .promo-sidebar {
    padding: 0;
  }
}
.promo-sidebar img {
  margin-bottom: 30px;
}
.pay-list__title {
  margin-bottom: 20px;
  color: #2a3246;
  font-weight: 700;
}
.pay-list img {
  margin-right: 5%;
}
.pay-list img:last-child {
  margin-right: 0;
}
/* SERVICE COAST */
.service-coast-wrapper {
  margin-bottom: 65px;
  -webkit-box-shadow: 0 5px 13px #d7e3e9;
          box-shadow: 0 5px 13px #d7e3e9;
}
.service-coast__inner {
  padding: 20px 35px 20px 30px;
  border-bottom: 1px solid #e7f2f8;
}
.service-coast__inner::after {
  content: "";
  display: table;
  clear: both;
}
.service-coast__inner::before {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 0) and (max-width: 767px) {
  .service-coast__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.service-coast__name {
  float: left;
  color: #2a3246;
  line-height: 21px;
}
@media (min-width: 0) and (max-width: 767px) {
  .service-coast__name {
    max-width: 70%;
  }
}
.service-coast__value {
  float: right;
}
@media (min-width: 0) and (max-width: 767px) {
}
.service-coast__price {
  color: #2a3246;
  font-weight: 700;
}
.service-coast__arrow {
  display: none;
}
.service-coast__arrow:before {
  color: #ff0043;
}
.service-coast.list .service-coast__price {
  display: none;
}
.service-coast.list .service-coast__arrow {
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.service-coast.list .service-coast__arrow.open {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.service-coast.list .service-coast__arrow.open:before {
  color: #8f96a0;
}
.service-coast.list.open .service-coast__sublist {
  display: block;
}
.service-coast__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.service-coast__sublist li {
  margin: 0 !important;
  padding: 0;
}
.service-coast__sublist li .service-coast__price {
  display: block !important;
}
.service-coast__sublist li .service-coast__arrow {
  display: none !important;
  cursor: default !important;
}
.service-coast__sublist li:first-child .service-coast {
  -webkit-box-shadow: inset 0 5px 4px #d7e3e9;
          box-shadow: inset 0 5px 4px #d7e3e9;
}
.service-coast__sublist li:last-child .service-coast {
  -webkit-box-shadow: inset 0 -5px 4px #d7e3e9;
          box-shadow: inset 0 -5px 4px #d7e3e9;
}
/* NEWS */
@media (min-width: 0) and (max-width: 767px) {
  .news h2 {
    text-align: center;
  }
}
.news .uk-container {
  position: relative;
}
.news .btn.btn--gray {
  position: absolute;
  top: -5px;
  right: 15px;
}
@media (min-width: 0) and (max-width: 767px) {
  .news .btn.btn--gray {
    position: static;
    margin: 30px auto 0;
    display: block;
    max-width: 165px;
    text-align: center;
  }
}
.news__list {
  font-size: 0;
}
.news__item {
  margin-bottom: 30px;
  margin-right: 2.6666%;
  padding: 7px 8px 25px;
  display: inline-block;
  width: 23%;
  vertical-align: top;
  -webkit-box-shadow: 0 7px 20px rgba(143, 150, 160, 0.11);
          box-shadow: 0 7px 20px rgba(143, 150, 160, 0.11);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid #e7f2f8;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.news__item:last-child {
  margin-right: 0;
}
.news__item:hover {
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
}
.news__item .btn {
  position: static;
  margin-left: 9%;
  margin-bottom: 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .news__item {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .news__item {
    margin-right: 5%;
    width: 30%;
  }
  .news__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .news__item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
  .news__item:nth-child(4n) {
    margin-right: 0;
  }
}
.news__img {
  max-height: 140px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 767px) {
  .news__img {
    display: none;
  }
}
.news__img a {
  position: relative;
  display: block;
}
.news__img img {
  display: inline;
  max-height: 100%;
}
.news__date-wrapper {
  padding: 12px 9%;
  font-size: 10px;
  color: #8f96a0;
}
@media (min-width: 0) and (max-width: 767px) {
  .news__date-wrapper {
    font-size: 18px;
  }
}
.news__date,
.news__promo {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}
.news__promo {
  position: relative;
  margin-left: 1px;
  padding-left: 5px;
}
.news__promo:before {
  content: '|';
  position: absolute;
  left: 0;
}
.news__title {
  margin-bottom: 10px;
  padding: 0 3% 0 9%;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
.news__text {
  margin-bottom: 20px;
  padding: 0 3% 0 9%;
  color: #9b9b9b;
  font-size: 10px;
  line-height: 14px;
}
@media (min-width: 0) and (max-width: 767px) {
  .news__text {
    font-size: 14px;
    line-height: 21px;
  }
}
/* NEWS DETAIL */
.news-detail {
  margin-top: -40px;
}
.news-detail__banner {
  margin-bottom: 60px;
}
@media (min-width: 0) and (max-width: 767px) {
  .news-detail__banner {
    margin-bottom: 40px;
  }
}
.news-detail__banner img {
  max-width: 100%;
}
.news-detail__date {
  margin-bottom: 15px;
  color: #8f96a0;
  line-height: 21px;
}
.news-detail__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
}
@media (min-width: 0) and (max-width: 767px) {
  .news-detail__title {
    margin-bottom: 30px;
  }
}
.news-detail__promo-title {
  margin-bottom: 50px;
  color: #2a3246;
  font-size: 24px;
  line-height: 26px;
}
/* PAGE FOOTER */
.footer {
  padding: 70px 0;
  background-color: #293146;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer {
    padding: 60px 0 30px;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__add-info {
  margin-bottom: 70px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .footer__add-info {
    margin-bottom: 30px;
  }
}
.footer__add-info a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.footer__add-info div {
  margin-bottom: 15px;
}
.footer__add-info div:last-child {
  margin-bottom: 0;
}
.footer__politics {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  letter-spacing: .4px;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer .page-form-search {
    display: none;
  }
}
.footer .page-form-search input {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer a {
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer a {
    display: block;
  }
}
.footer a:hover {
  color: #dd0039;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer ul li a {
  font-size: 14px;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #dd0039;
  opacity: 1;
}
.footer a.icon-telephone {
  color: #ffffff;
}
.footer .contacts__telephones {
  margin-bottom: 30px;
  padding: 0;
}
.footer .contacts__address div {
  font-size: 15px;
}
.footer .contacts__timework,
.footer .contacts__address {
  margin-bottom: 30px;
  color: #ffffff;
}
.footer .soc-links {
  max-width: 140px;
}
.footer .soc-links a {
  margin-right: 11%;
}
.footer .page-form-search {
  margin-bottom: 70px;
}
.footer .page-form-search input {
  border: 1px solid #e7f2f8;
}
.footer .page-form-search input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/* SLIDERS */
@media (min-width: 0) and (max-width: 767px) {
  .main-slider {
    display: none;
  }
}
.main-slider.preload {
  position: relative;
  height: 420px;
  overflow: hidden;
}
.main-slider.preload:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff url('../img/ajax-loader.gif') center no-repeat;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 999;
}
.main-slider.preload.ready:after {
  opacity: 0;
  z-index: -1;
}
.main-slider .slide {
  position: relative;
  min-height: 420px;
  overflow: hidden;
  color: #2a3246;
  z-index: 500;
}
.main-slider .slide .uk-container {
  position: relative;
  z-index: 15;
}
.main-slider .slide__title {
  margin-top: 80px;
  margin-bottom: 35px;
  max-width: 50%;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 959px) {
  .main-slider .slide__title {
    max-width: 80%;
    line-height: 42px;
  }
}
@media (min-width: 960px) and (max-width: 1100px) {
  .main-slider .slide__title {
    max-width: 75%;
  }
}
.main-slider .slide__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
  max-width: 50%;
}
@media (min-width: 768px) and (max-width: 959px) {
  .main-slider .slide__text {
    max-width: 80%;
  }
}
.main-slider .slide__btn {
  position: relative;
  display: inline-block;
  z-index: 130;
}
.main-slider .slide__img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter: grayscale(95%);
  -webkit-filter: gray;
          filter: gray;
  z-index: 10;
}
.main-slider .slick-dots {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 100px;
  width: auto;
  max-width: 1170px;
  text-align: right;
  z-index: 28;
}
.main-slider .slick-dots li {
  margin-right: 23px;
  width: 17px;
  height: 17px;
}
.main-slider .slick-dots li.slick-active button {
  width: 17px;
  height: 17px;
}
.main-slider .slick-dots li:last-child {
  margin-right: 0;
}
.main-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #8f96a0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: width .3s, height .3s ease;
  -o-transition: width .3s, height .3s ease;
  -moz-transition: width .3s, height .3s ease;
  transition: width .3s, height .3s ease;
}
.main-slider .slick-dots li button:before {
  width: 0;
  height: 0;
  content: '';
  font-family: none;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.about-company-slider.preload {
  position: relative;
  height: 245px;
  overflow: hidden;
}
.about-company-slider.preload:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff url('../img/ajax-loader.gif') center no-repeat;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 999;
}
.about-company-slider.preload.ready:after {
  opacity: 0;
  z-index: -1;
}
.about-company-slider .slick-dots {
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 28;
}
.about-company-slider .slick-dots li {
  margin-right: 23px;
  width: 17px;
  height: 17px;
}
.about-company-slider .slick-dots li.slick-active button {
  width: 17px;
  height: 17px;
  opacity: 1;
}
.about-company-slider .slick-dots li:last-child {
  margin-right: 0;
}
.about-company-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #ff0043;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: width .3s, height .3s ease;
  -o-transition: width .3s, height .3s ease;
  -moz-transition: width .3s, height .3s ease;
  transition: width .3s, height .3s ease;
  opacity: .3;
}
.about-company-slider .slick-dots li button:before {
  width: 0;
  height: 0;
  content: '';
  font-family: none;
}
/* MODALS WINDOW */
.default-modal .uk-modal-dialog {
  position: relative;
  padding: 80px 0;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  width: 650px;
}
.default-modal .uk-modal-header {
  padding: 0 12.3%;
}
.default-modal .uk-modal-header .title {
  position: relative;
  margin-bottom: 60px;
  padding-right: 30%;
  color: #2a3246;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.77px;
  font-family: "Proxima Nova";
  text-transform: uppercase;
}
.default-modal .uk-modal-header .title:after {
  position: absolute;
  top: 5px;
  right: 0;
  color: #ff0043;
  font-size: 66px;
  content: "\e902";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.default-modal .uk-modal-header .uk-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  opacity: 1;
  color: #2a3246;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
}
.default-modal .uk-modal-header .uk-modal-close:hover {
  -webkit-box-shadow: 0 0 14px 5px #d7e3e9;
          box-shadow: 0 0 14px 5px #d7e3e9;
}
.default-modal .uk-modal-body {
  padding: 0 12.3%;
}
.default-modal fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}
.default-modal input[type="text"] {
  margin-bottom: 20px;
  position: relative;
  padding-left: 3%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  border: 1px solid #e7f2f8;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 16px;
}
.default-modal input[type="text"]::-webkit-input-placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]:-moz-placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]::-moz-placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]:-ms-input-placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]::-ms-input-placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]::placeholder {
  color: #9b9b9b;
}
.default-modal input[type="text"]:focus {
  border: 1px solid #ff0043 !important;
  -webkit-box-shadow: 0 3px 13px #d7e3e9 !important;
          box-shadow: 0 3px 13px #d7e3e9 !important;
}
.default-modal input[type="text"]:focus ~ button {
  background-color: #ff0043;
}
.default-modal input[type="text"]:hover {
  border: 1px solid #293146;
}
.default-modal input[type="text"]:last-child {
  margin-bottom: 0;
}
.default-modal .modal-btn {
  margin-top: 40px;
  min-width: 162px;
}
.default-modal .custom-input__wrapper {
  margin-bottom: 20px;
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.default-modal .custom-input__wrapper:nth-child(1) {
  margin-right: 3%;
}
.default-modal .custom-input__wrapper i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #ff0043;
}
.default-modal .custom-input__wrapper input[type="text"] {
  margin-bottom: 0;
  padding: 0 30px;
  height: 40px;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
  background: url('../img/icon-svg/arrow-down-icon.svg') right 20px center no-repeat;
}
.default-modal .custom-input__wrapper input[type="text"]:focus {
  background: url('../img/icon-svg/arrow-up-icon.svg') right 20px center no-repeat;
  border-color: #293146 !important;
  -webkit-border-radius: 20px 20px 0 0;
          border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}
.default-modal .custom-input__wrapper:hover {
  cursor: pointer;
}
.default-modal .custom-input__wrapper:hover input[type="text"] {
  cursor: pointer;
}
.default-modal .uk-dropdown-small {
  padding: 0;
  border: 1px solid #293146;
  border-top: 1px solid #e7f2f8;
  width: 100% !important;
  background-color: #ffffff;
}
.default-modal .uk-autocomplete.uk-open input {
  border-color: #293146;
  -webkit-border-radius: 20px 20px 0 0;
          border-radius: 20px 20px 0 0;
  border-bottom: none;
}
.default-modal .uk-autocomplete li.uk-active a {
  background-color: #ff0043;
}
.uk-datepicker {
  border: 1px solid #293146;
  border-top: 1px solid #e7f2f8;
  max-width: 236px;
  background: #ffffff;
}
.uk-datepicker a:hover {
  color: #ffffff;
  background-color: #f6aec1;
}
.uk-datepicker a.uk-active {
  background-color: #ff0043;
}
.uk-datepicker.uk-dropdown {
  padding: 15px 7px;
}
.uk-datepicker .uk-datepicker-nav a {
  color: #ff0043;
}
.uk-datepicker .uk-datepicker-nav a:hover {
  background: transparent;
}
/* FORMS */
.search-form {
  position: relative;
  padding-right: 25px;
  padding: 11px 25px 10px 0;
  width: 100%;
  display: none;
}
.search-form input {
  position: relative;
  padding-left: 5%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  border: 1px solid #e7f2f8;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 16px;
}
.search-form input:focus {
  border: 1px solid #ff0043 !important;
  -webkit-box-shadow: 0 3px 13px #d7e3e9 !important;
          box-shadow: 0 3px 13px #d7e3e9 !important;
}
.search-form input:focus ~ button {
  background-color: #ff0043;
}
.search-form__btn {
  position: absolute;
  top: 11px;
  right: 0;
  padding: 0;
  display: block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ff0043;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.search-form__btn:before {
  color: #ffffff;
  font-size: 18px;
}
.search-form a.uk-modal-close {
  padding-left: 5px;
  position: absolute;
  top: -2px;
  right: -35px;
  color: #dd0039;
  opacity: 1;
  border-left: 1px solid #dd0039;
}
.search-form:hover input {
  border: 1px solid #293146;
}
.search-form:hover button {
  background-color: #293146;
}
.search-form.blue input {
  border: 1px solid #293146;
}
.search-form.blue input:focus {
  border: 1px solid #455376 !important;
}
.search-form.blue input:focus ~ button {
  background-color: #455376;
}
.search-form.blue .search-form__btn {
  background-color: #293146;
}
.page-form-search {
  position: relative;
  /* 	&:hover {
	input {
		border: 1px solid #293146;
	}
	button {
		background-color: #293146;
	}
} */
}
.page-form-search input {
  position: relative;
  padding-left: 3%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  border: 1px solid #d7e3e9;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 18px;
}
@media (min-width: 0) and (max-width: 767px) {
  .page-form-search input {
    padding-right: 45px;
    padding-left: 20px;
    font-size: 14px;
  }
}
.page-form-search input::-webkit-input-placeholder {
  color: #9b9b9b;
}
.page-form-search input:-moz-placeholder {
  color: #9b9b9b;
}
.page-form-search input::-moz-placeholder {
  color: #9b9b9b;
}
.page-form-search input:-ms-input-placeholder {
  color: #9b9b9b;
}
.page-form-search input::-ms-input-placeholder {
  color: #9b9b9b;
}
.page-form-search input::placeholder {
  color: #9b9b9b;
}
.page-form-search input:focus {
  border: 1px solid #ff0043 !important;
  -webkit-box-shadow: 0 3px 13px #d7e3e9 !important;
          box-shadow: 0 3px 13px #d7e3e9 !important;
}
.page-form-search input:focus ~ button {
  background-color: #ff0043;
}
.page-form-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ff0043;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (min-width: 0) and (max-width: 767px) {
  .page-form-search__btn {
    width: 40px;
  }
}
.page-form-search__btn:before {
  color: #ffffff;
  font-size: 18px;
}
/* CUSTOM SELECT */
.select2-container--default {
  width: 100% !important;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  outline: none;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
}
.select2-container--default.select2-container--open {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border: 1px solid #293146;
  border-bottom: 1px solid #e7f2f8;
  -webkit-border-radius: 20px 20px 0 0 !important;
          border-radius: 20px 20px 0 0 !important;
  outline: none;
}
.select2-container--default.select2-container--open .select2-selection__arrow:before {
  color: #8f96a0;
  content: '\e901';
}
.select2-container--default .select2-selection--single {
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 0 5%;
  border: 1px solid #e7f2f8;
  outline: none;
}
.select2-container--default .select2-selection__rendered {
  height: 40px;
  line-height: 40px !important;
}
.select2-container--default .select2-selection__arrow {
  right: 15px !important;
}
.select2-container--default .select2-selection__arrow:before {
  content: "\e900";
  color: #ff0043;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.select2-container--default .select2-selection__arrow b {
  display: none;
}
.select2-dropdown {
  border: none;
  border-top: none;
}
.select2-dropdown .select2-results {
  border: 1px solid #293146;
  border-top: 0;
  margin-right: -1px;
}
.select2-results__option {
  padding: 0 7%;
  color: #2a3246;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #ffffff;
  background-color: #ff0043;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ff7e9f;
  color: #ffffff;
}
/* END CUSTOM SELECT */
.custom-input:before {
  content: "\e900";
  color: #ff0043;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: #293146;
}
.custom-checkbox .custom-checkbox {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-box-shadow: 0 3px 13px #d7e3e9;
          box-shadow: 0 3px 13px #d7e3e9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #96a0aa;
  background-color: #ffffff;
}
.custom-checkbox .custom-checkbox:before {
  color: #ffffff;
  font-size: 12px;
  content: "\e90c";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-checkbox .custom-checkbox:hover {
  cursor: pointer;
}
.custom-checkbox .custom-label {
  overflow: hidden;
  color: #9b9b9b;
  font-size: 14px;
}
